.breadcrumb\:nav {
  & .nav-item:not(:first-child) {
    display: flex;
    align-items: center;
  }
  
  & .nav-item:not(:first-child)::before {
    padding-right: 0.1px;
    color: #6c757d;
    content: var(--alga-divider, "/");
  }
  
  & .nav-item.active,
  & .nav-item.active .nav-link {
    color: #6c757d;
  }
  
  & .nav-item.show,
  & .nav-item.show .nav-link {
    color: #6c757d;
  }
}
