.details {
  border-width: 1px ;
  border-style: solid;
  border-color: inherit;
  padding: .5em .5em 0;
}

.summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
  outline: none;
}

.details[open] {
  padding: .5em;
}

.details[open] .summary {
  border-bottom-width: 1px ;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  margin-bottom: .5em;
}
