@provide base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  body {
    font-family: Calibri, Arial, sans-serif;
    ref: txtColor.rgb(33, 37, 41);
  }

  a {
    ref: txtColor.hex(1187c7);
  }

  a:hover {
    ref: txtColor.hex(0275af);
  }
}
