@provide dot {
  .dot {
    display: inline-block;
    box-sizing: content-box;
    width: 0;
    height: 0;
    border: calc(var(--dot, 10px)/2) solid var(--dotColor, #3788d8);
    border-radius: calc(var(--dot, 10px)/2);
  }
}
