@provide navBar {
  .navBar {
    ref: mwd-100vw wd-100 itemsCenter nhg-50px pd-3 zi-4;
  }
  
  .navBar > .navWrapper {
    ref: flex flexWrapInherit itemsCenter justifyBetween;
  }
    
  .navBar .navMainMenu {
    ref: wd-100;
    screen-xs: wd-auto;
  }
      
  .navBar .navFillMenu {
    ref: flexGrow none;
    screen-md: block;
  }
      
  .navBar .navMenu {
    ref: none;
    screen-xs: block;
  }
  
  .navBar .navImage,
  .navBar .navText,
  .navBar .navToggler,
  .navBar .navBrand {
    ref: block pdY-2 pdX-4 txtNodecoration txtColorInherit;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
    
  .navBar .navToggler {
    screen-sm: none;
  }
    
  .navBar .navBrand {
    ref: flexGrow;
  }
}
