@provide table {
  .table {
    ref: wd-100 mgBottom-4 captionBottom bdSpacing-0 bdCollapse txtColor.hex(212529) bdColor.hex(dee2e6);
  }

  .tableCaption, caption {
    ref: pdTop-2 pdBottom-2 txtLeft txtColor.hex(6c757d);
  }

  .tableScope, th {
    ref: txtAlignInherit txtAlignWebkit;
  }

  .tableHead, thead, 
  .tableBody, tbody, 
  .tableFoot, tfoot, 
  .tableRow, tr, 
  .tableCell, td, 
  .tableScope, th {
    ref: bdColorInherit bdSolid bd-0;
  }

  .table > :not(.tableCaption) > * > *,
  .table > :not(caption) > * > * {
    ref: pd-2 bdBottom-1px bgTransparent;
  }

  .tableSmall > :not(.tableCaption) > * > *,
  .tableSmall > :not(caption) > * > * {
    ref: pd-1 bdBottom-1px bgTransparent;
  }

  .table.tableLarge > :not(.tableCaption) > * > *,
  .table.tableLarge > :not(caption) > * > * {
    ref: pd-3 bdBottom-1px bgTransparent;
  }

  .table > .tableBody,
  .table > tbody {
    ref: alignVerticalInherit;
  }

  .table > .tableHead,
  .table > thead {
    ref: alignBottom;
  }

  .table > :not(:last-child) > :last-child > * {
    ref: bdBottomColorInherit;
  }

  .tableCaptionTop {
    ref: captionTop;
  }

  .tableBorder > :not(.tableCaption) > *,
  .tableBorder > :not(caption) > * {
    ref: bdY-1 bdX-0;
  }

  .tableBorder > :not(.tableCaption) > * > *,
  .tableBorder > :not(caption) > * > * {
    ref: bdY-0 bdX-1;
  }

  .tableBorderless > :not(.tableCaption) > * > *,
  .tableBorderless > :not(caption) > * > * {
    ref: bdBottom-0;
  }

  .tableStripe > .tableBody > .tableRow:nth-of-type(odd),
  .tableStripe > tbody > tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  .tableActive {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .tableHover > .tableBody > .tableRow:hover,
  .tableHover > tbody > tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }

  .tableResponsive {
    ref: overflowXAuto overflowTouch;
    screen: overflowXAuto overflowTouch;
  }

  @screen sm {
    .sm\.table > :not(.tableCaption) > * > *,
    .sm\.table > :not(caption) > * > * {
      padding: 0.25rem 0.25rem;
    }
  }
}
