@layer components {
  .container,
  .container.fluid,
  .container.largest,
  .container.larger,
  .container.large,
  .container.medium,
  .container.small {
    @apply w-full px-3 mx-auto;
  }
  
  @screen sm {
    .container.small, .container {
      max-width: 620px;
    }
  }
  
  @screen md {
    .container.medium, .container.small, .container {
      max-width: 748px;
    }
  }
  
  @screen lg {
    .container.large, .container.medium, .container.small, .container {
      max-width: 1004px;
    }
  }
  
  @screen xl {
    .container.larger, .container.large, .container.medium, .container.small, .container {
      max-width: 1260px;
    }
  }
  
  @screen 2xl {
    .container.largest, .container.larger, .container.large, 
    .container.medium, .container.small, .container {
      max-width: 1346px;
    }
  }
}
