.container,
.fluid\:container,
.largest\:container,
.larger\:container,
.large\:container,
.medium\:container,
.small\:container {
  width: 100%;
  padding-right: 0.875rem;
  padding-left: 0.875rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .small\:container, .container {
    max-width: 620px;
  }
}

@media (min-width: 768px) {
  .medium\:container, .small\:container, .container {
    max-width: 748px;
  }
}

@media (min-width: 1024px) {
  .large\:container, .medium\:container, .small\:container, .container {
    max-width: 1004px;
  }
}

@media (min-width: 1280px) {
  .larger\:container, .large\:container, .medium\:container, .small\:container, .container {
    max-width: 1260px;
  }
}

@media (min-width: 1536px) {
  .largest\:container, .larger\:container, .large\:container, 
  .medium\:container, .small\:container, .container {
    max-width: 1346px;
  }
}
