.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
  & > * {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
  }
  
  & &-menu,
  & .left\:navbar-menu {
    justify-content: flex-start;
  }
    
  & .fill\:navbar-menu {
    flex-grow: 1;
  }
    
  & .center\:navbar-menu {
    justify-content: center;
  }
    
  & .right\:navbar-menu {
    justify-content: flex-end;
  }
  
  & > .container,
  & > .fluid\:container,
  & > .small\:container,
  & > .medium\:container,
  & > .large\:container,
  & > .larger\:container,
  & > .largest\:container {
    justify-content: space-between;
  }
}

@media (max-width: 640px) {
  .navbar-menu:not(:first-child),
  .navbar-menu > *:not(:first-child),
  .fill\:navbar-menu,
  .center\:navbar-menu,
  .right\:navbar-menu {
    display: none;
  }
  
  .navbar > .navbar-menu:first-child > *,
  .navbar > .left\:navbar-menu:first-child > * {
    width: 100vw;
  }
}
