.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  
  & > * {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
  }
  
  & > * > * {
    margin-top: 0;
    margin-bottom: 0;
  }

  & &-menu,
  & .left\:navbar-menu {
    justify-content: flex-start;
  }
    
  & .center\:navbar-menu {
    flex-grow: 1;
  }
    
  & .right\:navbar-menu {
    justify-content: flex-end;
  }
  
  & > .container,
  & > .fluid\:container,
  & > .small\:container,
  & > .medium\:container,
  & > .large\:container,
  & > .larger\:container,
  & > .largest\:container {
    justify-content: space-between;
  }
}
