.page {
    /* autoprefixer grid: no-autoplace */
    display: grid;
    width: 100%;
    max-width: 100vw;
    
    &.page-navigation,
    &.top\:page-navigation {
      grid-template:  [nav-left] "nav nav" auto [nav-right]
                      [main-left] "main main" 1fr [main-right]
                      / auto 1fr;
    }
    
    &.bottom\:page-navigation {
      grid-template:  [main-left] "main main" 1fr [main-right]
                      [nav-left] "nav nav" auto [nav-right]
                      / auto 1fr;
    }
    
    &.page-header {
      grid-template:  [head-left] "head head" auto [head-right]
                      [main-left] "main main" 1fr [main-right]
                      / auto 1fr;
    }
    
    &.page-sidebar,
    &.left\:page-sidebar {
      grid-template:  [side-left] "side main" auto [main-right]
                      [side-left] "side main" 1fr [main-right]
                      / auto 1fr;
    }
    
    &.right\:page-sidebar {
      grid-template:  [main-left] "main side" auto [side-right]
                      [main-left] "main side" 1fr [side-right]
                      / 1fr auto;
    }
    
    &.head-sidebar,
    &.left\:head-sidebar {
      grid-template:  [head-left] "head head" auto [head-right]
                      [side-left] "side main" 1fr [main-right]
                      / auto 1fr;
    }
    
    &.right\:head-sidebar {
      grid-template:  [head-left] "head head" auto [head-right]
                      [main-left] "main side" 1fr [side-right]
                      / 1fr auto;
    }
    
    &.start\:nav-sidebar {
      grid-template:  [nav-left] "side nav" auto [nav-right]
                      [side-left] "side main" 1fr [main-right]
                      / auto 1fr;
    }
    
    &.nav-sidebar,
    &.left\:nav-sidebar {
      grid-template:  [nav-left] "nav nav" auto [nav-right]
                      [side-left] "side main" 1fr [main-right]
                      / auto 1fr;
    }
    
    &.right\:nav-sidebar {
      grid-template:  [nav-left] "nav nav" auto [nav-right]
                      [main-left] "main side" 1fr [side-right]
                      / 1fr auto;
    }
    
    &.end\:nav-sidebar {
      grid-template:  [nav-left] "nav side" auto [nav-right]
                      [main-left] "main side" 1fr [side-right]
                      / 1fr auto;
    }
    
    &.page-pancake {
      grid-template:  [head-left] "head head" auto [head-right]
                      [main-left] "main  main" 1fr [main-right]
                      [foot-left] "foot  foot" auto [foot-right]
                      / auto 1fr;
    }
    
    &.side-pancake,
    &.left\:side-pancake {
      grid-template:  [head-left] "head head" auto [head-right]
                      [side-left] "side main" 1fr [main-right]
                      [foot-left] "foot foot" auto [foot-right]
                      / auto 1fr;
    }
    
    &.right\:side-pancake {
      grid-template:  [head-left] "head head" auto [head-right]
                      [main-left] "main side" 1fr [side-right]
                      [foot-left] "foot foot" auto [foot-right]
                      / 1fr auto;
    }
    
    &.left\:nav-pancake {
      grid-template:  [nav-left] "nav nav" auto [nav-right]
                      [side-left] "side main" 1fr [main-right]
                      [foot-left] "foot foot" auto [foot-right]
                      / auto 1fr;
    }
    
    &.right\:nav-pancake {
      grid-template:  [nav-left] "nav nav" auto [nav-right]
                      [main-left] "main side" 1fr [side-right]
                      [foot-left] "foot foot" auto [foot-right]
                      / 1fr auto;
    }
    
    &.page-holy-grail {
      grid-template:  [head-left] "head head head" auto [head-right]
                      [side-left] "side main side-right" 1fr [side-right]
                      [foot-left] "foot foot foot" auto [foot-right]
                      / auto 1fr auto;
    }
    
    &.page-classic-header {
      grid-template:  [head-left] "head head head" auto [head-right]
                      [side-left] "side main side-right" 1fr [side-right]
                      / auto 1fr auto;
    }
    
    &.nav-holy-grail {
      grid-template:  [nav-left] "nav nav nav" auto [nav-right]
                      [side-left] "side main side-right" 1fr [side-right]
                      [foot-left] "foot foot foot" auto [foot-right]
                      / auto 1fr auto;
    }
    
    &.nav-classic {
      grid-template:  [nav-left] "nav nav nav" auto [nav-right]
                      [side-left] "side main side-right" 1fr [side-right]
                      / auto 1fr auto;
    }
    
    & .nav\:page-section {
      grid-area: nav;
    }

    & .head\:page-section {
      grid-area: head;
    }

    & .side\:page-section,
    & .leftside\:page-section {
      grid-area: side;
    }

    & .main\:page-section {
      grid-area: main;
    }

    & .rightside\:page-section {
      grid-area: side-right;
    }

    & .foot\:page-section {
      grid-area: foot;
    }
  }
