@layer components {
  .page {
    /* autoprefixer grid: no-autoplace */
    @apply grid w-full;
    
    &.with-nav-top {
      grid-template:  [nav-left] "nav nav" auto [nav-right]
                      [main-left] "main main" 1fr [main-right]
                      / auto 1fr;
    }
    
    &.with-nav-bottom {
      grid-template:  [main-left] "main main" 1fr [main-right]
                      [nav-left] "nav nav" auto [nav-right]
                      / auto 1fr;
    }
    
    &.with-nav-left {
      grid-template:  [nav-left] "nav main" auto [main-right]
                      [nav-left] "nav main" 1fr [main-right]
                      / auto 1fr;
    }
    
    &.with-nav-right {
      grid-template:  [main-left] "main nav" auto [nav-right]
                      [main-left] "main nav" 1fr [nav-right]
                      / 1fr auto;
    }
    
    &.only-header {
      grid-template:  [head-left] "head head" auto [head-right]
                      [main-left] "main main" 1fr [main-right]
                      / auto 1fr;
    }
    
    &.only-sidebar {
      grid-template:  [side-left] "side main" auto [main-right]
                      [side-left] "side main" 1fr [main-right]
                      / auto 1fr;
    }
    
    &.only-sidebar-right {
      grid-template:  [main-left] "main side" auto [side-right]
                      [main-left] "main side" 1fr [side-right]
                      / 1fr auto;
    }
    
    &.with-head-nav-left {
      grid-template:  [head-left] "head head" auto [head-right]
                      [nav-left] "nav main" 1fr [main-right]
                      / auto 1fr;
    }
    
    &.with-head-nav-right {
      grid-template:  [head-left] "head head" auto [head-right]
                      [main-left] "main nav" 1fr  [nav-right]
                      / 1fr auto;
    }
    
    &.with-head-sidebar {
      grid-template:  [head-left] "head head" auto [head-right]
                      [side-left] "side main" 1fr [main-right]
                      / auto 1fr;
    }
    
    &.with-head-sidebar-right {
      grid-template:  [head-left] "head head" auto [head-right]
                      [main-left] "main side" 1fr [side-right]
                      / 1fr auto;
    }
    
    &.with-sidebar {
      grid-template:  [nav-left] "nav nav" auto [nav-right]
                      [side-left] "side main" 1fr [main-right]
                      / auto 1fr;
    }
    
    &.with-sidebar-right {
      grid-template:  [nav-left] "nav nav" auto [nav-right]
                      [main-left] "main side" 1fr [side-right]
                      / 1fr auto;
    }
    
    &.with-pancake {
      grid-template:  [head-left] "head head" auto [head-right]
                      [main-left] "main  main" 1fr [main-right]
                      [foot-left] "foot  foot" auto [foot-right]
                      / auto 1fr;
    }
    
    &.with-pancake-nav-left {
      grid-template:  [head-left] "head head" auto [head-right]
                      [nav-left]  "nav  main" 1fr [main-right]
                      [foot-left] "foot  foot" auto [foot-right]
                      / auto 1fr;
    }
    
    &.with-pancake-nav-right {
      grid-template:  [head-left] "head head" auto [head-right]
                      [main-left] "main nav" 1fr [main-right]
                      [foot-left] "foot foot" auto [foot-right]
                      / 1fr auto;
    }
    
    &.with-pancake-sidebar {
      grid-template:  [head-left] "head head" auto [head-right]
                      [side-left] "side main" 1fr [main-right]
                      [foot-left] "foot foot" auto [foot-right]
                      / auto 1fr;
    }
    
    &.with-pancake-sidebar-right {
      grid-template:  [head-left] "head head" auto [head-right]
                      [main-left] "main side" 1fr [side-right]
                      [foot-left] "foot foot" auto [foot-right]
                      / 1fr auto;
    }
    
    &.with-pancake-nav-sidebar {
      grid-template:  [nav-left] "nav nav" auto [nav-right]
                      [side-left] "side main" 1fr [main-right]
                      [foot-left] "foot foot" auto [foot-right]
                      / auto 1fr;
    }
    
    &.with-pancake-nav-sidebar-right {
      grid-template:  [nav-left] "nav nav" auto [nav-right]
                      [main-left] "main side" 1fr [side-right]
                      [foot-left] "foot foot" auto [foot-right]
                      / 1fr auto;
    }
    
    &.with-holy-grail {
      grid-template:  [head-left] "head head head" auto [head-right]
                      [side-left] "side main side-right" 1fr [side-right]
                      [foot-left] "foot foot foot" auto [foot-right]
                      / auto 1fr auto;
    }
    
    &.with-classic-header {
      grid-template:  [head-left] "head head head" auto [head-right]
                      [side-left] "side main side-right" 1fr [side-right]
                      / auto 1fr auto;
    }
    
    &.with-holy-grail-nav {
      grid-template:  [nav-left] "nav nav nav" auto [nav-right]
                      [side-left] "side main side-right" 1fr [side-right]
                      [foot-left] "foot foot foot" auto [foot-right]
                      / auto 1fr auto;
    }
    
    &.with-classic {
      grid-template:  [nav-left] "nav nav nav" auto [nav-right]
                      [side-left] "side main side-right" 1fr [side-right]
                      / auto 1fr auto;
    }
    
    &-nav {
      grid-area: nav;
    }

    &-header {
      grid-area: head;
    }

    &-sidebar {
      grid-area: side;
    }

    &-main {
      grid-area: main;
    }

    &-sidebar-right {
      grid-area: side-right;
    }

    &-footer {
      grid-area: foot;
    }
  }
}
