.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  width: 250px;
  
  & > * {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  & &-menu,
  & .top\:sidebar-menu {
    justify-content: flex-start;
  }
  
  & .top\:sidebar-menu {
    overflow: hidden;
  }
    
  & .middle\:sidebar-menu {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
    
  & .bottom\:sidebar-menu {
    overflow: hidden;
    justify-content: flex-end;
  }
}
