.sidebar,
.shrink\:sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
  width: 260px;
  
  & > * {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  & &-menu,
  & .top\:sidebar-menu {
    justify-content: flex-start;
  }
  
  & .top\:sidebar-menu {
    overflow: hidden;
  }
    
  & .fill\:sidebar-menu {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
    
  & .middle\:sidebar-menu {
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: center;
  }
    
  & .bottom\:sidebar-menu {
    overflow: hidden;
    justify-content: flex-end;
  }
  
  &.active,
  &.show {
    display: block;
  }
}

@media (max-width: 640px) {
  .sidebar,
  .shrink\:sidebar {
    display: none;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .shrink\:sidebar {
    width: 40px;
    
    & .sidebar-feature,
    & .sidebar-form,
    & .sidebar-title,
    & .sidebar-text {
      display: none;
    }
    
    & .sidebar-icon,
    & .sidebar-icon i,
    & .sidebar-icon svg {
      width: 24px;
      height: 24px;
    }
  }
}
