@mixin color-mixin .primary, primary, white;
@mixin color-mixin .secondary, secondary, white;
@mixin color-mixin .accent, accent, white;
@mixin color-mixin .success, success, white;
@mixin color-mixin .info, info, white;
@mixin color-mixin .warning, warning, black;
@mixin color-mixin .danger, danger, white;
  
  .black {
    color: var(--ts-white);
    background-color: var(--ts-black);
    border-color: var(--ts-black);
    
    &-hover:hover {
      color: var(--ts-white);
      background-color: var(--ts-black);
      border-color: var(--ts-black);
    }
    
    &-outline {
      color: var(--ts-black);
      background-color: var(--ts-transparent);
      border-color: var(--ts-black);
    }
    
    &-outline-hover:hover {
      color: var(--ts-black);
      background-color: var(--ts-transparent);
      border-color: var(--ts-black);
    }
    
    &-bg {
      background-color: var(--ts-black);
    }
    
    &-text {
      color: var(--ts-black);
    }
    
    &-border {
      border-color: var(--ts-black);
    }
    
    &-caret {
      caret-color: var(--ts-black);
    }
    
    &-ring {
      outline-color: var(--ts-black);
    }
    
    &-fill {
      fill: var(--ts-black);
    }
    
    &-stroke {
      stroke: var(--ts-black);
    }
  }
  
  .white {
    color: var(--ts-black);
    background-color: var(--ts-white);
    border-color: var(--ts-white);
    
    &-hover:hover {
      color: var(--ts-black);
      background-color: var(--ts-white);
      border-color: var(--ts-white);
    }
    
    &-outline {
      color: var(--ts-white);
      background-color: var(--ts-transparent);
      border-color: var(--ts-white);
    }
    
    &-outline-hover:hover {
      color: var(--ts-white);
      background-color: var(--ts-transparent);
      border-color: var(--ts-white);
    }
    
    &-bg {
      background-color: var(--ts-white);
    }
    
    &-text {
      color: var(--ts-white);
    }
    
    &-border {
      border-color: var(--ts-white);
    }
    
    &-caret {
      caret-color: var(--ts-white);
    }
    
    &-ring {
      outline-color: var(--ts-white);
    }
    
    &-fill {
      fill: var(--ts-white);
    }
    
    &-stroke {
      stroke: var(--ts-white);
    }
  }
  
  .dark {
    color: var(--ts-white);
    background-color: var(--ts-dark);
    border-color: var(--ts-dark);
    
    &-hover:hover {
      color: var(--ts-white);
      background-color: var(--ts-dark);
      border-color: var(--ts-dark);
    }
    
    &-outline {
      color: var(--ts-dark);
      background-color: var(--ts-transparent);
      border-color: var(--ts-dark);
    }
    
    &-outline-hover:hover {
      color: var(--ts-dark);
      background-color: var(--ts-transparent);
      border-color: var(--ts-dark);
    }
    
    &-bg {
      background-color: var(--ts-dark);
    }
    
    &-text {
      color: var(--ts-dark);
    }
    
    &-border {
      border-color: var(--ts-dark);
    }
    
    &-caret {
      caret-color: var(--ts-dark);
    }
    
    &-ring {
      outline-color: var(--ts-dark);
    }
    
    &-fill {
      fill: var(--ts-dark);
    }
    
    &-stroke {
      stroke: var(--ts-dark);
    }
  }
  
  .light {
    color: var(--ts-black);
    background-color: var(--ts-light);
    border-color: var(--ts-light);
    
    &-hover:hover {
      color: var(--ts-black);
      background-color: var(--ts-light);
      border-color: var(--ts-light);
    }
    
    &-outline {
      color: var(--ts-light);
      background-color: var(--ts-transparent);
      border-color: var(--ts-light);
    }
    
    &-outline-hover:hover {
      color: var(--ts-light);
      background-color: var(--ts-transparent);
      border-color: var(--ts-light);
    }
    
    &-bg {
      background-color: var(--ts-light);
    }
    
    &-text {
      color: var(--ts-light);
    }
    
    &-border {
      border-color: var(--ts-light);
    }
    
    &-caret {
      caret-color: var(--ts-light);
    }
    
    &-ring {
      outline-color: var(--ts-light);
    }
    
    &-fill {
      fill: var(--ts-light);
    }
    
    &-stroke {
      stroke: var(--ts-light);
    }
  }
  
  .blue {
    color: var(--ts-white);
    background-color: var(--ts-blue);
    border-color: var(--ts-blue);
    
    &-hover:hover {
      color: var(--ts-white);
      background-color: var(--ts-blue);
      border-color: var(--ts-blue);
    }
    
    &-outline {
      color: var(--ts-blue);
      background-color: var(--ts-transparent);
      border-color: var(--ts-blue);
    }
    
    &-outline-hover:hover {
      color: var(--ts-blue);
      background-color: var(--ts-transparent);
      border-color: var(--ts-blue);
    }
    
    &-bg {
      background-color: var(--ts-blue);
    }
    
    &-text {
      color: var(--ts-blue);
    }
    
    &-border {
      border-color: var(--ts-blue);
    }
    
    &-caret {
      caret-color: var(--ts-blue);
    }
    
    &-ring {
      outline-color: var(--ts-blue);
    }
    
    &-fill {
      fill: var(--ts-blue);
    }
    
    &-stroke {
      stroke: var(--ts-blue);
    }
  }
  
  .indigo {
    color: var(--ts-white);
    background-color: var(--ts-indigo);
    border-color: var(--ts-indigo);
    
    &-hover:hover {
      color: var(--ts-white);
      background-color: var(--ts-indigo);
      border-color: var(--ts-indigo);
    }
    
    &-outline {
      color: var(--ts-indigo);
      background-color: var(--ts-transparent);
      border-color: var(--ts-indigo);
    }
    
    &-outline-hover:hover {
      color: var(--ts-indigo);
      background-color: var(--ts-transparent);
      border-color: var(--ts-indigo);
    }
    
    &-bg {
      background-color: var(--ts-indigo);
    }
    
    &-text {
      color: var(--ts-indigo);
    }
    
    &-border {
      border-color: var(--ts-indigo);
    }
    
    &-caret {
      caret-color: var(--ts-indigo);
    }
    
    &-ring {
      outline-color: var(--ts-indigo);
    }
    
    &-fill {
      fill: var(--ts-indigo);
    }
    
    &-stroke {
      stroke: var(--ts-indigo);
    }
  }
  
  .purple {
    color: var(--ts-white);
    background-color: var(--ts-purple);
    border-color: var(--ts-purple);
    
    &-hover:hover {
      color: var(--ts-white);
      background-color: var(--ts-purple);
      border-color: var(--ts-purple);
    }
    
    &-outline {
      color: var(--ts-purple);
      background-color: var(--ts-transparent);
      border-color: var(--ts-purple);
    }
    
    &-outline-hover:hover {
      color: var(--ts-purple);
      background-color: var(--ts-transparent);
      border-color: var(--ts-purple);
    }
    
    &-bg {
      background-color: var(--ts-purple);
    }
    
    &-text {
      color: var(--ts-purple);
    }
    
    &-border {
      border-color: var(--ts-purple);
    }
    
    &-caret {
      caret-color: var(--ts-purple);
    }
    
    &-ring {
      outline-color: var(--ts-purple);
    }
    
    &-fill {
      fill: var(--ts-purple);
    }
    
    &-stroke {
      stroke: var(--ts-purple);
    }
  }
  
  .pink {
    color: var(--ts-black);
    background-color: var(--ts-pink);
    border-color: var(--ts-pink);
    
    &-hover:hover {
      color: var(--ts-black);
      background-color: var(--ts-pink);
      border-color: var(--ts-pink);
    }
    
    &-outline {
      color: var(--ts-pink);
      background-color: var(--ts-transparent);
      border-color: var(--ts-pink);
    }
    
    &-outline-hover:hover {
      color: var(--ts-pink);
      background-color: var(--ts-transparent);
      border-color: var(--ts-pink);
    }
    
    &-bg {
      background-color: var(--ts-pink);
    }
    
    &-text {
      color: var(--ts-pink);
    }
    
    &-border {
      border-color: var(--ts-pink);
    }
    
    &-caret {
      caret-color: var(--ts-pink);
    }
    
    &-ring {
      outline-color: var(--ts-pink);
    }
    
    &-fill {
      fill: var(--ts-pink);
    }
    
    &-stroke {
      stroke: var(--ts-pink);
    }
  }
  
  .red {
    color: var(--ts-white);
    background-color: var(--ts-red);
    border-color: var(--ts-red);
    
    &-hover:hover {
      color: var(--ts-white);
      background-color: var(--ts-red);
      border-color: var(--ts-red);
    }
    
    &-outline {
      color: var(--ts-red);
      background-color: var(--ts-transparent);
      border-color: var(--ts-red);
    }
    
    &-outline-hover:hover {
      color: var(--ts-red);
      background-color: var(--ts-transparent);
      border-color: var(--ts-red);
    }
    
    &-bg {
      background-color: var(--ts-red);
    }
    
    &-text {
      color: var(--ts-red);
    }
    
    &-border {
      border-color: var(--ts-red);
    }
    
    &-caret {
      caret-color: var(--ts-red);
    }
    
    &-ring {
      outline-color: var(--ts-red);
    }
    
    &-fill {
      fill: var(--ts-red);
    }
    
    &-stroke {
      stroke: var(--ts-red);
    }
  }
  
  .orange {
    color: var(--ts-white);
    background-color: var(--ts-orange);
    border-color: var(--ts-orange);
    
    &-hover:hover {
      color: var(--ts-white);
      background-color: var(--ts-orange);
      border-color: var(--ts-orange);
    }
    
    &-outline {
      color: var(--ts-orange);
      background-color: var(--ts-transparent);
      border-color: var(--ts-orange);
    }
    
    &-outline-hover:hover {
      color: var(--ts-orange);
      background-color: var(--ts-transparent);
      border-color: var(--ts-orange);
    }
    
    &-bg {
      background-color: var(--ts-orange);
    }
    
    &-text {
      color: var(--ts-orange);
    }
    
    &-border {
      border-color: var(--ts-orange);
    }
    
    &-caret {
      caret-color: var(--ts-orange);
    }
    
    &-ring {
      outline-color: var(--ts-orange);
    }
    
    &-fill {
      fill: var(--ts-orange);
    }
    
    &-stroke {
      stroke: var(--ts-orange);
    }
  }
  
  .yellow {
    color: var(--ts-black);
    background-color: var(--ts-yellow);
    border-color: var(--ts-yellow);
    
    &-hover:hover {
      color: var(--ts-black);
      background-color: var(--ts-yellow);
      border-color: var(--ts-yellow);
    }
    
    &-outline {
      color: var(--ts-yellow);
      background-color: var(--ts-transparent);
      border-color: var(--ts-yellow);
    }
    
    &-outline-hover:hover {
      color: var(--ts-yellow);
      background-color: var(--ts-transparent);
      border-color: var(--ts-yellow);
    }
    
    &-bg {
      background-color: var(--ts-yellow);
    }
    
    &-text {
      color: var(--ts-yellow);
    }
    
    &-border {
      border-color: var(--ts-yellow);
    }
    
    &-caret {
      caret-color: var(--ts-yellow);
    }
    
    &-ring {
      outline-color: var(--ts-yellow);
    }
    
    &-fill {
      fill: var(--ts-yellow);
    }
    
    &-stroke {
      stroke: var(--ts-yellow);
    }
  }
  
  .green {
    color: var(--ts-white);
    background-color: var(--ts-green);
    border-color: var(--ts-green);
    
    &-hover:hover {
      color: var(--ts-white);
      background-color: var(--ts-green);
      border-color: var(--ts-green);
    }
    
    &-outline {
      color: var(--ts-green);
      background-color: var(--ts-transparent);
      border-color: var(--ts-green);
    }
    
    &-outline-hover:hover {
      color: var(--ts-green);
      background-color: var(--ts-transparent);
      border-color: var(--ts-green);
    }
    
    &-bg {
      background-color: var(--ts-green);
    }
    
    &-text {
      color: var(--ts-green);
    }
    
    &-border {
      border-color: var(--ts-green);
    }
    
    &-caret {
      caret-color: var(--ts-green);
    }
    
    &-ring {
      outline-color: var(--ts-green);
    }
    
    &-fill {
      fill: var(--ts-green);
    }
    
    &-stroke {
      stroke: var(--ts-green);
    }
  }
  
  .teal {
    color: var(--ts-white);
    background-color: var(--ts-teal);
    border-color: var(--ts-teal);
    
    &-hover:hover {
      color: var(--ts-white);
      background-color: var(--ts-teal);
      border-color: var(--ts-teal);
    }
    
    &-outline {
      color: var(--ts-teal);
      background-color: var(--ts-transparent);
      border-color: var(--ts-teal);
    }
    
    &-outline-hover:hover {
      color: var(--ts-teal);
      background-color: var(--ts-transparent);
      border-color: var(--ts-teal);
    }
    
    &-bg {
      background-color: var(--ts-teal);
    }
    
    &-text {
      color: var(--ts-teal);
    }
    
    &-border {
      border-color: var(--ts-teal);
    }
    
    &-caret {
      caret-color: var(--ts-teal);
    }
    
    &-ring {
      outline-color: var(--ts-teal);
    }
    
    &-fill {
      fill: var(--ts-teal);
    }
    
    &-stroke {
      stroke: var(--ts-teal);
    }
  }
  
  .cyan {
    color: var(--ts-white);
    background-color: var(--ts-cyan);
    border-color: var(--ts-cyan);
    
    &-hover:hover {
      color: var(--ts-white);
      background-color: var(--ts-cyan);
      border-color: var(--ts-cyan);
    }
    
    &-outline {
      color: var(--ts-cyan);
      background-color: var(--ts-transparent);
      border-color: var(--ts-cyan);
    }
    
    &-outline-hover:hover {
      color: var(--ts-cyan);
      background-color: var(--ts-transparent);
      border-color: var(--ts-cyan);
    }
    
    &-bg {
      background-color: var(--ts-cyan);
    }
    
    &-text {
      color: var(--ts-cyan);
    }
    
    &-border {
      border-color: var(--ts-cyan);
    }
    
    &-caret {
      caret-color: var(--ts-cyan);
    }
    
    &-ring {
      outline-color: var(--ts-cyan);
    }
    
    &-fill {
      fill: var(--ts-cyan);
    }
    
    &-stroke {
      stroke: var(--ts-cyan);
    }
  }
  
  .gray {
    color: var(--ts-black);
    background-color: var(--ts-gray);
    border-color: var(--ts-gray);
    
    &-hover:hover {
      color: var(--ts-black);
      background-color: var(--ts-gray);
      border-color: var(--ts-gray);
    }
    
    &-outline {
      color: var(--ts-gray);
      background-color: var(--ts-transparent);
      border-color: var(--ts-gray);
    }
    
    &-outline-hover:hover {
      color: var(--ts-gray);
      background-color: var(--ts-transparent);
      border-color: var(--ts-gray);
    }
    
    &-bg {
      background-color: var(--ts-gray);
    }
    
    &-text {
      color: var(--ts-gray);
    }
    
    &-border {
      border-color: var(--ts-gray);
    }
    
    &-caret {
      caret-color: var(--ts-gray);
    }
    
    &-ring {
      outline-color: var(--ts-gray);
    }
    
    &-fill {
      fill: var(--ts-gray);
    }
    
    &-stroke {
      stroke: var(--ts-gray);
    }
  }

