.layer {
  &-0 { z-index: 0; }
  &-1 { z-index: 1; }
  &-2 { z-index: 2; }
  &-3 { z-index: 3; }
  &-4 { z-index: 4; }
  &-5 { z-index: 5; }
  &-6 { z-index: 6; }
  &-7 { z-index: 7; }
  &-9 { z-index: 9; }
  &-10 { z-index: 10; }
  &-11 { z-index: 11; }
  &-12 { z-index: 12; }
  &-13 { z-index: 13; }
  &-14 { z-index: 14; }
  &-15 { z-index: 15; }
  &-16 { z-index: 16; }
  &-17 { z-index: 17; }
  &-18 { z-index: 18; }
  &-19 { z-index: 19; }
  &-20 { z-index: 20; }
  &-auto { z-index: auto; }
}

.overlay\:layer {
  &-0 { position: absolute; z-index: 0; }
  &-1 { position: absolute; z-index: 1; }
  &-2 { position: absolute; z-index: 2; }
  &-3 { position: absolute; z-index: 3; }
  &-4 { position: absolute; z-index: 4; }
  &-5 { position: absolute; z-index: 5; }
  &-6 { position: absolute; z-index: 6; }
  &-7 { position: absolute; z-index: 7; }
  &-9 { position: absolute; z-index: 9; }
  &-10 { position: absolute; z-index: 10; }
  &-11 { position: absolute; z-index: 11; }
  &-12 { position: absolute; z-index: 12; }
  &-13 { position: absolute; z-index: 13; }
  &-14 { position: absolute; z-index: 14; }
  &-15 { position: absolute; z-index: 15; }
  &-16 { position: absolute; z-index: 16; }
  &-17 { position: absolute; z-index: 17; }
  &-18 { position: absolute; z-index: 18; }
  &-19 { position: absolute; z-index: 19; }
  &-20 { position: absolute; z-index: 20; }
  &-auto { position: absolute; z-index: auto; }
}

@media (min-width: 640px) {
  .small\(layer\) {
    &-0 { z-index: 0; }
    &-1 { z-index: 1; }
    &-2 { z-index: 2; }
    &-3 { z-index: 3; }
    &-4 { z-index: 4; }
    &-5 { z-index: 5; }
    &-6 { z-index: 6; }
    &-7 { z-index: 7; }
    &-9 { z-index: 9; }
    &-10 { z-index: 10; }
    &-11 { z-index: 11; }
    &-12 { z-index: 12; }
    &-13 { z-index: 13; }
    &-14 { z-index: 14; }
    &-15 { z-index: 15; }
    &-16 { z-index: 16; }
    &-17 { z-index: 17; }
    &-18 { z-index: 18; }
    &-19 { z-index: 19; }
    &-20 { z-index: 20; }
    &-auto { z-index: auto; }
  }
  
  .small\(overlay\:layer\) {
    &-0 { position: absolute; z-index: 0; }
    &-1 { position: absolute; z-index: 1; }
    &-2 { position: absolute; z-index: 2; }
    &-3 { position: absolute; z-index: 3; }
    &-4 { position: absolute; z-index: 4; }
    &-5 { position: absolute; z-index: 5; }
    &-6 { position: absolute; z-index: 6; }
    &-7 { position: absolute; z-index: 7; }
    &-9 { position: absolute; z-index: 9; }
    &-10 { position: absolute; z-index: 10; }
    &-11 { position: absolute; z-index: 11; }
    &-12 { position: absolute; z-index: 12; }
    &-13 { position: absolute; z-index: 13; }
    &-14 { position: absolute; z-index: 14; }
    &-15 { position: absolute; z-index: 15; }
    &-16 { position: absolute; z-index: 16; }
    &-17 { position: absolute; z-index: 17; }
    &-18 { position: absolute; z-index: 18; }
    &-19 { position: absolute; z-index: 19; }
    &-20 { position: absolute; z-index: 20; }
    &-auto { position: absolute; z-index: auto; }
  }
}

@media (min-width: 768px) {
  .medium\(layer\) {
    &-0 { z-index: 0; }
    &-1 { z-index: 1; }
    &-2 { z-index: 2; }
    &-3 { z-index: 3; }
    &-4 { z-index: 4; }
    &-5 { z-index: 5; }
    &-6 { z-index: 6; }
    &-7 { z-index: 7; }
    &-9 { z-index: 9; }
    &-10 { z-index: 10; }
    &-11 { z-index: 11; }
    &-12 { z-index: 12; }
    &-13 { z-index: 13; }
    &-14 { z-index: 14; }
    &-15 { z-index: 15; }
    &-16 { z-index: 16; }
    &-17 { z-index: 17; }
    &-18 { z-index: 18; }
    &-19 { z-index: 19; }
    &-20 { z-index: 20; }
    &-auto { z-index: auto; }
  }
  
  .medium\(overlay\:layer\) {
    &-0 { position: absolute; z-index: 0; }
    &-1 { position: absolute; z-index: 1; }
    &-2 { position: absolute; z-index: 2; }
    &-3 { position: absolute; z-index: 3; }
    &-4 { position: absolute; z-index: 4; }
    &-5 { position: absolute; z-index: 5; }
    &-6 { position: absolute; z-index: 6; }
    &-7 { position: absolute; z-index: 7; }
    &-9 { position: absolute; z-index: 9; }
    &-10 { position: absolute; z-index: 10; }
    &-11 { position: absolute; z-index: 11; }
    &-12 { position: absolute; z-index: 12; }
    &-13 { position: absolute; z-index: 13; }
    &-14 { position: absolute; z-index: 14; }
    &-15 { position: absolute; z-index: 15; }
    &-16 { position: absolute; z-index: 16; }
    &-17 { position: absolute; z-index: 17; }
    &-18 { position: absolute; z-index: 18; }
    &-19 { position: absolute; z-index: 19; }
    &-20 { position: absolute; z-index: 20; }
    &-auto { position: absolute; z-index: auto; }
  }
}

@media (min-width: 1024px) {
  .large\(layer\) {
    &-0 { z-index: 0; }
    &-1 { z-index: 1; }
    &-2 { z-index: 2; }
    &-3 { z-index: 3; }
    &-4 { z-index: 4; }
    &-5 { z-index: 5; }
    &-6 { z-index: 6; }
    &-7 { z-index: 7; }
    &-9 { z-index: 9; }
    &-10 { z-index: 10; }
    &-11 { z-index: 11; }
    &-12 { z-index: 12; }
    &-13 { z-index: 13; }
    &-14 { z-index: 14; }
    &-15 { z-index: 15; }
    &-16 { z-index: 16; }
    &-17 { z-index: 17; }
    &-18 { z-index: 18; }
    &-19 { z-index: 19; }
    &-20 { z-index: 20; }
    &-auto { z-index: auto; }
  }
  
  .large\(overlay\:layer\) {
    &-0 { position: absolute; z-index: 0; }
    &-1 { position: absolute; z-index: 1; }
    &-2 { position: absolute; z-index: 2; }
    &-3 { position: absolute; z-index: 3; }
    &-4 { position: absolute; z-index: 4; }
    &-5 { position: absolute; z-index: 5; }
    &-6 { position: absolute; z-index: 6; }
    &-7 { position: absolute; z-index: 7; }
    &-9 { position: absolute; z-index: 9; }
    &-10 { position: absolute; z-index: 10; }
    &-11 { position: absolute; z-index: 11; }
    &-12 { position: absolute; z-index: 12; }
    &-13 { position: absolute; z-index: 13; }
    &-14 { position: absolute; z-index: 14; }
    &-15 { position: absolute; z-index: 15; }
    &-16 { position: absolute; z-index: 16; }
    &-17 { position: absolute; z-index: 17; }
    &-18 { position: absolute; z-index: 18; }
    &-19 { position: absolute; z-index: 19; }
    &-20 { position: absolute; z-index: 20; }
    &-auto { position: absolute; z-index: auto; }
  }
}

@media (min-width: 1280px) {
  .larger\(layer\) {
    &-0 { z-index: 0; }
    &-1 { z-index: 1; }
    &-2 { z-index: 2; }
    &-3 { z-index: 3; }
    &-4 { z-index: 4; }
    &-5 { z-index: 5; }
    &-6 { z-index: 6; }
    &-7 { z-index: 7; }
    &-9 { z-index: 9; }
    &-10 { z-index: 10; }
    &-11 { z-index: 11; }
    &-12 { z-index: 12; }
    &-13 { z-index: 13; }
    &-14 { z-index: 14; }
    &-15 { z-index: 15; }
    &-16 { z-index: 16; }
    &-17 { z-index: 17; }
    &-18 { z-index: 18; }
    &-19 { z-index: 19; }
    &-20 { z-index: 20; }
    &-auto { z-index: auto; }
  }
  
  .larger\(overlay\:layer\) {
    &-0 { position: absolute; z-index: 0; }
    &-1 { position: absolute; z-index: 1; }
    &-2 { position: absolute; z-index: 2; }
    &-3 { position: absolute; z-index: 3; }
    &-4 { position: absolute; z-index: 4; }
    &-5 { position: absolute; z-index: 5; }
    &-6 { position: absolute; z-index: 6; }
    &-7 { position: absolute; z-index: 7; }
    &-9 { position: absolute; z-index: 9; }
    &-10 { position: absolute; z-index: 10; }
    &-11 { position: absolute; z-index: 11; }
    &-12 { position: absolute; z-index: 12; }
    &-13 { position: absolute; z-index: 13; }
    &-14 { position: absolute; z-index: 14; }
    &-15 { position: absolute; z-index: 15; }
    &-16 { position: absolute; z-index: 16; }
    &-17 { position: absolute; z-index: 17; }
    &-18 { position: absolute; z-index: 18; }
    &-19 { position: absolute; z-index: 19; }
    &-20 { position: absolute; z-index: 20; }
    &-auto { position: absolute; z-index: auto; }
  }
}

@media (min-width: 1536px) {
  .largest\(layer\) {
    &-0 { z-index: 0; }
    &-1 { z-index: 1; }
    &-2 { z-index: 2; }
    &-3 { z-index: 3; }
    &-4 { z-index: 4; }
    &-5 { z-index: 5; }
    &-6 { z-index: 6; }
    &-7 { z-index: 7; }
    &-9 { z-index: 9; }
    &-10 { z-index: 10; }
    &-11 { z-index: 11; }
    &-12 { z-index: 12; }
    &-13 { z-index: 13; }
    &-14 { z-index: 14; }
    &-15 { z-index: 15; }
    &-16 { z-index: 16; }
    &-17 { z-index: 17; }
    &-18 { z-index: 18; }
    &-19 { z-index: 19; }
    &-20 { z-index: 20; }
    &-auto { z-index: auto; }
  }
  
  .largest\(overlay\:layer\) {
    &-0 { position: absolute; z-index: 0; }
    &-1 { position: absolute; z-index: 1; }
    &-2 { position: absolute; z-index: 2; }
    &-3 { position: absolute; z-index: 3; }
    &-4 { position: absolute; z-index: 4; }
    &-5 { position: absolute; z-index: 5; }
    &-6 { position: absolute; z-index: 6; }
    &-7 { position: absolute; z-index: 7; }
    &-9 { position: absolute; z-index: 9; }
    &-10 { position: absolute; z-index: 10; }
    &-11 { position: absolute; z-index: 11; }
    &-12 { position: absolute; z-index: 12; }
    &-13 { position: absolute; z-index: 13; }
    &-14 { position: absolute; z-index: 14; }
    &-15 { position: absolute; z-index: 15; }
    &-16 { position: absolute; z-index: 16; }
    &-17 { position: absolute; z-index: 17; }
    &-18 { position: absolute; z-index: 18; }
    &-19 { position: absolute; z-index: 19; }
    &-20 { position: absolute; z-index: 20; }
    &-auto { position: absolute; z-index: auto; }
  }
}
