.bar {
  background-color: rgba(255, 255, 255, var(--bgOpacity, 1));
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  backdrop-filter: var(--filter, blur(10px));
  -webkit-backdrop-filter: var(--filter, blur(10px));
}

.navBar,
.sideBar,
.sideBar\.shrink,
.toolBar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
