@layer components {
  .columns {
    @apply flex flex-wrap;
    
    & > * {
      @apply flex-shrink-0 w-full max-w-full;
    }
    
    &.size-auto > * {
      @apply flex-none w-auto;
    }

    &.size-1 > * {
      @apply flex-none w-full;
    }

    &.size-2 > * {
      @apply flex-none w-6/12;
    }

    &.size-3 > * {
      @apply flex-none w-4/12;
    }

    &.size-4 > * {
      @apply flex-none w-3/12;
    }

    &.size-5 > * {
      @apply flex-none w-1/5;
    }

    &.size-6 > * {
      @apply flex-none w-2/12;
    }

    &.top {
      @apply items-start;
    }
    
    &.middle {
      @apply items-center;
    }
    
    &.bottom {
      @apply items-end;
    }
    
    &.stretch {
      @apply items-stretch;
    }
    
    &.baseline {
      @apply items-baseline;
    }
    
    &.left {
      @apply justify-start;
    }
    
    &.center {
      @apply justify-center;
    }
    
    &.right {
      @apply justify-end;
    }
    
    &.justify {
      @apply justify-between;
    }
    
    &.around {
      @apply justify-around;
    }
    
    &.evenly {
      @apply justify-evenly;
    }
  
    &.gap-1 {
      @apply space-x-1;
    }

    &.gap-2 {
      @apply space-x-2;
    }

    &.gap-3 {
      @apply space-x-3;
    }

    &.gap-4 {
      @apply space-x-4;
    }

    &.gap-5 {
      @apply space-x-5;
    }

    &.gap-6 {
      @apply space-x-6;
    }

    &.gap-7 {
      @apply space-x-7;
    }

    &.gap-8 {
      @apply space-x-8;
    }

    &.gap-9 {
      @apply space-x-9;
    }

    &.gap-10 {
      @apply space-x-10;
    }

    &.gap-11 {
      @apply space-x-11;
    }

    &.gap-12 {
      @apply space-x-12;
    }

    &.space-1 {
      @apply space-y-1;
    }

    &.space-2 {
      @apply space-y-2;
    }

    &.space-3 {
      @apply space-y-3;
    }

    &.space-4 {
      @apply space-y-4;
    }

    &.space-5 {
      @apply space-y-5;
    }

    &.space-6 {
      @apply space-y-6;
    }

    &.space-7 {
      @apply space-y-7;
    }

    &.space-8 {
      @apply space-y-8;
    }

    &.space-9 {
      @apply space-y-9;
    }

    &.space-10 {
      @apply space-y-10;
    }

    &.space-11 {
      @apply space-y-11;
    }

    &.space-12 {
      @apply space-y-12;
    }
  }
  
  .column {
    flex: 1 0 0%;
    
    &.size-auto {
      @apply flex-none w-auto;
    }

    &.size-1 {
      @apply flex-none w-1/12;
    }

    &.size-2 {
      @apply flex-none w-2/12;
    }

    &.size-3 {
      @apply flex-none w-3/12;
    }

    &.size-4 {
      @apply flex-none w-4/12;
    }

    &.size-5 {
      @apply flex-none w-5/12;
    }

    &.size-6 {
      @apply flex-none w-6/12;
    }

    &.size-7 {
      @apply flex-none w-7/12;
    }

    &.size-8 {
      @apply flex-none w-8/12;
    }

    &.size-9 {
      @apply flex-none w-9/12;
    }

    &.size-10 {
      @apply flex-none w-10/12;
    }

    &.size-11 {
      @apply flex-none w-11/12;
    }

    &.size-12 {
      @apply flex-none w-full;
    }
    
    &.top {
      @apply self-start;
    }
    
    &.middle {
      @apply self-center;
    }
    
    &.bottom {
      @apply self-end;
    }
    
    &.stretch {
      @apply self-stretch;
    }
    
    &.offset-1 {
      margin-left: 8.333333%;
    }

    &.offset-2 {
      margin-left: 16.666667%;
    }

    &.offset-3 {
      margin-left: 25%;
    }

    &.offset-4 {
      margin-left: 33.333333%;
    }

    &.offset-5 {
      margin-left: 41.666667%;
    }

    &.offset-6 {
      margin-left: 50%;
    }

    &.offset-7 {
      margin-left: 58.333333%;
    }

    &.offset-8 {
      margin-left: 66.666667%;
    }

    &.offset-9 {
      margin-left: 75%;
    }

    &.offset-10 {
      margin-left: 83.333333%;
    }

    &.offset-11 {
      margin-left: 91.666667%;
    }
  }

  @screen sm {
    .columns {
      &.small-auto > * {
        @apply flex-none w-auto;
      }
      
      &.small-1 > * {
        @apply flex-none w-full;
      }

      &.small-2 > * {
        @apply flex-none w-6/12;
      }

      &.small-3 > * {
        @apply flex-none w-4/12;
      }

      &.small-4 > * {
        @apply flex-none w-3/12;
      }

      &.small-5 > * {
        @apply flex-none w-1/5;
      }

      &.small-6 > * {
        @apply flex-none w-2/12;
      }
    
      &.top-small {
        @apply items-start;
      }
      
      &.middle-small {
        @apply items-center;
      }
      
      &.bottom-small {
        @apply items-end;
      }
      
      &.stretch-small {
        @apply items-stretch;
      }
      
      &.baseline-small {
        @apply items-baseline;
      }
      
      &.left-small {
        @apply justify-start;
      }
      
      &.center-small {
        @apply justify-center;
      }
      
      &.right-small {
        @apply justify-end;
      }
      
      &.justify-small {
        @apply justify-between;
      }
      
      &.around-small {
        @apply justify-around;
      }
      
      &.evenly-small {
        @apply justify-evenly;
      }
  
      &.gap-small-1 {
        @apply space-x-1;
      }

      &.gap-small-2 {
        @apply space-x-2;
      }

      &.gap-small-3 {
        @apply space-x-3;
      }

      &.gap-small-4 {
        @apply space-x-4;
      }

      &.gap-small-5 {
        @apply space-x-5;
      }

      &.gap-small-6 {
        @apply space-x-6;
      }

      &.gap-small-7 {
        @apply space-x-7;
      }

      &.gap-small-8 {
        @apply space-x-8;
      }

      &.gap-small-9 {
        @apply space-x-9;
      }

      &.gap-small-10 {
        @apply space-x-10;
      }

      &.gap-small-11 {
        @apply space-x-11;
      }

      &.gap-small-12 {
        @apply space-x-12;
      }
      
      &.space-small-1 {
        @apply space-y-1;
      }

      &.space-small-2 {
        @apply space-y-2;
      }

      &.space-small-3 {
        @apply space-y-3;
      }

      &.space-small-4 {
        @apply space-y-4;
      }

      &.space-small-5 {
        @apply space-y-5;
      }

      &.space-small-6 {
        @apply space-y-6;
      }

      &.space-small-7 {
        @apply space-y-7;
      }

      &.space-small-8 {
        @apply space-y-8;
      }

      &.space-small-9 {
        @apply space-y-9;
      }

      &.space-small-10 {
        @apply space-y-10;
      }

      &.space-small-11 {
        @apply space-y-11;
      }

      &.space-small-12 {
        @apply space-y-12;
      }
    }
    
    .column {
      &.small-auto {
        @apply flex-none w-auto;
      }

      &.small-1 {
        @apply flex-none w-1/12;
      }

      &.small-2 {
        @apply flex-none w-2/12;
      }

      &.small-3 {
        @apply flex-none w-3/12;
      }

      &.small-4 {
        @apply flex-none w-4/12;
      }

      &.small-5 {
        @apply flex-none w-5/12;
      }

      &.small-6 {
        @apply flex-none w-6/12;
      }

      &.small-7 {
        @apply flex-none w-7/12;
      }

      &.small-8 {
        @apply flex-none w-8/12;
      }

      &.small-9 {
        @apply flex-none w-9/12;
      }

      &.small-10 {
        @apply flex-none w-10/12;
      }

      &.small-11 {
        @apply flex-none w-11/12;
      }

      &.small-12 {
        @apply flex-none w-full;
      }
      
      &.offset-small-1 {
        margin-left: 8.333333%;
      }

      &.offset-small-2 {
        margin-left: 16.666667%;
      }

      &.offset-small-3 {
        margin-left: 25%;
      }

      &.offset-small-4 {
        margin-left: 33.333333%;
      }

      &.offset-small-5 {
        margin-left: 41.666667%;
      }

      &.offset-small-6 {
        margin-left: 50%;
      }

      &.offset-small-7 {
        margin-left: 58.333333%;
      }

      &.offset-small-8 {
        margin-left: 66.666667%;
      }

      &.offset-small-9 {
        margin-left: 75%;
      }

      &.offset-small-10 {
        margin-left: 83.333333%;
      }

      &.offset-small-11 {
        margin-left: 91.666667%;
      }
    }
  }
  
  @screen md {
    .columns {
      &.medium-auto > * {
        @apply flex-none w-auto;
      }

      &.medium-1 > * {
        @apply flex-none w-full;
      }

      &.medium-2 > * {
        @apply flex-none w-6/12;
      }

      &.medium-3 > * {
        @apply flex-none w-4/12;
      }

      &.medium-4 > * {
        @apply flex-none w-3/12;
      }

      &.medium-5 > * {
        @apply flex-none w-1/5;
      }

      &.medium-6 > * {
        @apply flex-none w-2/12;
      }
      
      &.top-medium {
        @apply items-start;
      }
      
      &.middle-medium {
        @apply items-center;
      }
      
      &.bottom-medium {
        @apply items-end;
      }
      
      &.stretch-medium {
        @apply items-stretch;
      }
      
      &.baseline-medium {
        @apply items-baseline;
      }
      
      &.left-medium {
        @apply justify-start;
      }
      
      &.center-medium {
        @apply justify-center;
      }
      
      &.right-medium {
        @apply justify-end;
      }
      
      &.justify-medium {
        @apply justify-between;
      }
      
      &.around-medium {
        @apply justify-around;
      }
      
      &.evenly-medium {
        @apply justify-evenly;
      }
      
      &.gap-medium-1 {
        @apply space-x-1;
      }

      &.gap-medium-2 {
        @apply space-x-2;
      }

      &.gap-medium-3 {
        @apply space-x-3;
      }

      &.gap-medium-4 {
        @apply space-x-4;
      }

      &.gap-medium-5 {
        @apply space-x-5;
      }

      &.gap-medium-6 {
        @apply space-x-6;
      }

      &.gap-medium-7 {
        @apply space-x-7;
      }

      &.gap-medium-8 {
        @apply space-x-8;
      }

      &.gap-medium-9 {
        @apply space-x-9;
      }

      &.gap-medium-10 {
        @apply space-x-10;
      }

      &.gap-medium-11 {
        @apply space-x-11;
      }

      &.gap-medium-12 {
        @apply space-x-12;
      }
      
      &.space-medium-1 {
        @apply space-y-1;
      }

      &.space-medium-2 {
        @apply space-y-2;
      }

      &.space-medium-3 {
        @apply space-y-3;
      }

      &.space-medium-4 {
        @apply space-y-4;
      }

      &.space-medium-5 {
        @apply space-y-5;
      }

      &.space-medium-6 {
        @apply space-y-6;
      }

      &.space-medium-7 {
        @apply space-y-7;
      }

      &.space-medium-8 {
        @apply space-y-8;
      }

      &.space-medium-9 {
        @apply space-y-9;
      }

      &.space-medium-10 {
        @apply space-y-10;
      }

      &.space-medium-11 {
        @apply space-y-11;
      }

      &.space-medium-12 {
        @apply space-y-12;
      }
    }

    .column {
      &.medium-auto {
        @apply flex-none w-auto;
      }

      &.medium-1 {
        @apply flex-none w-1/12;
      }

      &.medium-2 {
        @apply flex-none w-2/12;
      }

      &.medium-3 {
        @apply flex-none w-3/12;
      }

      &.medium-4 {
        @apply flex-none w-4/12;
      }

      &.medium-5 {
        @apply flex-none w-5/12;
      }

      &.medium-6 {
        @apply flex-none w-6/12;
      }

      &.medium-7 {
        @apply flex-none w-7/12;
      }

      &.medium-8 {
        @apply flex-none w-8/12;
      }

      &.medium-9 {
        @apply flex-none w-9/12;
      }

      &.medium-10 {
        @apply flex-none w-10/12;
      }

      &.medium-11 {
        @apply flex-none w-11/12;
      }

      &.medium-12 {
        @apply flex-none w-full;
      }
      
      &.offset-medium-1 {
        margin-left: 8.333333%;
      }

      &.offset-medium-2 {
        margin-left: 16.666667%;
      }

      &.offset-medium-3 {
        margin-left: 25%;
      }

      &.offset-medium-4 {
        margin-left: 33.333333%;
      }

      &.offset-medium-5 {
        margin-left: 41.666667%;
      }

      &.offset-medium-6 {
        margin-left: 50%;
      }

      &.offset-medium-7 {
        margin-left: 58.333333%;
      }

      &.offset-medium-8 {
        margin-left: 66.666667%;
      }

      &.offset-medium-9 {
        margin-left: 75%;
      }

      &.offset-medium-10 {
        margin-left: 83.333333%;
      }

      &.offset-medium-11 {
        margin-left: 91.666667%;
      }
    }
  }
  
  @screen lg {
    .columns {
      &.large-auto > * {
        @apply flex-none w-auto;
      }

      &.large-1 > * {
        @apply flex-none w-full;
      }

      &.large-2 > * {
        @apply flex-none w-6/12;
      }

      &.large-3 > * {
        @apply flex-none w-4/12;
      }

      &.large-4 > * {
        @apply flex-none w-3/12;
      }

      &.large-5 > * {
        @apply flex-none w-1/5;
      }

      &.large-6 > * {
        @apply flex-none w-2/12;
      }
      
      &.top-large {
        @apply items-start;
      }
      
      &.middle-large {
        @apply items-center;
      }
      
      &.bottom-large {
        @apply items-end;
      }
      
      &.stretch-large {
        @apply items-stretch;
      }
      
      &.baseline-large {
        @apply items-baseline;
      }
      
      &.left-large {
        @apply justify-start;
      }
      
      &.center-large {
        @apply justify-center;
      }
      
      &.right-large {
        @apply justify-end;
      }
      
      &.justify-large {
        @apply justify-between;
      }
      
      &.around-large {
        @apply justify-around;
      }
      
      &.evenly-large {
        @apply justify-evenly;
      }
      
      &.gap-large-1 {
        @apply space-x-1;
      }

      &.gap-large-2 {
        @apply space-x-2;
      }

      &.gap-large-3 {
        @apply space-x-3;
      }

      &.gap-large-4 {
        @apply space-x-4;
      }

      &.gap-large-5 {
        @apply space-x-5;
      }

      &.gap-large-6 {
        @apply space-x-6;
      }

      &.gap-large-7 {
        @apply space-x-7;
      }

      &.gap-large-8 {
        @apply space-x-8;
      }

      &.gap-large-9 {
        @apply space-x-9;
      }

      &.gap-large-10 {
        @apply space-x-10;
      }

      &.gap-large-11 {
        @apply space-x-11;
      }

      &.gap-large-12 {
        @apply space-x-12;
      }
      
      &.space-large-1 {
        @apply space-y-1;
      }

      &.space-large-2 {
        @apply space-y-2;
      }

      &.space-large-3 {
        @apply space-y-3;
      }

      &.space-large-4 {
        @apply space-y-4;
      }

      &.space-large-5 {
        @apply space-y-5;
      }

      &.space-large-6 {
        @apply space-y-6;
      }

      &.space-large-7 {
        @apply space-y-7;
      }

      &.space-large-8 {
        @apply space-y-8;
      }

      &.space-large-9 {
        @apply space-y-9;
      }

      &.space-large-10 {
        @apply space-y-10;
      }

      &.space-large-11 {
        @apply space-y-11;
      }

      &.space-large-12 {
        @apply space-y-12;
      }
    }
    
    .column {
      &.large-auto {
        @apply flex-none w-auto;
      }

      &.large-1 {
        @apply flex-none w-1/12;
      }

      &.large-2 {
        @apply flex-none w-2/12;
      }

      &.large-3 {
        @apply flex-none w-3/12;
      }

      &.large-4 {
        @apply flex-none w-4/12;
      }

      &.large-5 {
        @apply flex-none w-5/12;
      }

      &.large-6 {
        @apply flex-none w-6/12;
      }

      &.large-7 {
        @apply flex-none w-7/12;
      }

      &.large-8 {
        @apply flex-none w-8/12;
      }

      &.large-9 {
        @apply flex-none w-9/12;
      }

      &.large-10 {
        @apply flex-none w-10/12;
      }

      &.large-11 {
        @apply flex-none w-11/12;
      }

      &.large-12 {
        @apply flex-none w-full;
      }
      
      &.offset-large-1 {
        margin-left: 8.333333%;
      }

      &.offset-large-2 {
        margin-left: 16.666667%;
      }

      &.offset-large-3 {
        margin-left: 25%;
      }

      &.offset-large-4 {
        margin-left: 33.333333%;
      }

      &.offset-large-5 {
        margin-left: 41.666667%;
      }

      &.offset-large-6 {
        margin-left: 50%;
      }

      &.offset-large-7 {
        margin-left: 58.333333%;
      }

      &.offset-large-8 {
        margin-left: 66.666667%;
      }

      &.offset-large-9 {
        margin-left: 75%;
      }

      &.offset-large-10 {
        margin-left: 83.333333%;
      }

      &.offset-large-11 {
        margin-left: 91.666667%;
      }
    }
  }
  
  @screen xl {
    .columns {
      &.larger-auto > * {
        @apply flex-none w-auto;
      }

      &.larger-1 > * {
        @apply flex-none w-full;
      }

      &.larger-2 > * {
        @apply flex-none w-6/12;
      }

      &.larger-3 > * {
        @apply flex-none w-4/12;
      }

      &.larger-4 > * {
        @apply flex-none w-3/12;
      }

      &.larger-5 > * {
        @apply flex-none w-1/5;
      }

      &.larger-6 > * {
        @apply flex-none w-2/12;
      }
      
      &.top-larger {
        @apply items-start;
      }
      
      &.middle-larger {
        @apply items-center;
      }
      
      &.bottom-larger {
        @apply items-end;
      }
      
      &.stretch-larger {
        @apply items-stretch;
      }
      
      &.baseline-larger {
        @apply items-baseline;
      }
      
      &.left-larger {
        @apply justify-start;
      }
      
      &.center-larger {
        @apply justify-center;
      }
      
      &.right-larger {
        @apply justify-end;
      }
      
      &.justify-larger {
        @apply justify-between;
      }
      
      &.around-larger {
        @apply justify-around;
      }
      
      &.evenly-larger {
        @apply justify-evenly;
      }
      
      &.gap-larger-1 {
        @apply space-x-1;
      }

      &.gap-larger-2 {
        @apply space-x-2;
      }

      &.gap-larger-3 {
        @apply space-x-3;
      }

      &.gap-larger-4 {
        @apply space-x-4;
      }

      &.gap-larger-5 {
        @apply space-x-5;
      }

      &.gap-larger-6 {
        @apply space-x-6;
      }

      &.gap-larger-7 {
        @apply space-x-7;
      }

      &.gap-larger-8 {
        @apply space-x-8;
      }

      &.gap-larger-9 {
        @apply space-x-9;
      }

      &.gap-larger-10 {
        @apply space-x-10;
      }

      &.gap-larger-11 {
        @apply space-x-11;
      }

      &.gap-larger-12 {
        @apply space-x-12;
      }
      
      &.space-larger-1 {
        @apply space-y-1;
      }

      &.space-larger-2 {
        @apply space-y-2;
      }

      &.space-larger-3 {
        @apply space-y-3;
      }

      &.space-larger-4 {
        @apply space-y-4;
      }

      &.space-larger-5 {
        @apply space-y-5;
      }

      &.space-larger-6 {
        @apply space-y-6;
      }

      &.space-larger-7 {
        @apply space-y-7;
      }

      &.space-larger-8 {
        @apply space-y-8;
      }

      &.space-larger-9 {
        @apply space-y-9;
      }

      &.space-larger-10 {
        @apply space-y-10;
      }

      &.space-larger-11 {
        @apply space-y-11;
      }

      &.space-larger-12 {
        @apply space-y-12;
      }
    }

    .column {
      &.larger-auto {
        @apply flex-none w-auto;
      }

      &.larger-1 {
        @apply flex-none w-1/12;
      }

      &.larger-2 {
        @apply flex-none w-2/12;
      }

      &.larger-3 {
        @apply flex-none w-3/12;
      }

      &.larger-4 {
        @apply flex-none w-4/12;
      }

      &.larger-5 {
        @apply flex-none w-5/12;
      }

      &.larger-6 {
        @apply flex-none w-6/12;
      }

      &.larger-7 {
        @apply flex-none w-7/12;
      }

      &.larger-8 {
        @apply flex-none w-8/12;
      }

      &.larger-9 {
        @apply flex-none w-9/12;
      }

      &.larger-10 {
        @apply flex-none w-10/12;
      }

      &.larger-11 {
        @apply flex-none w-11/12;
      }

      &.larger-12 {
        @apply flex-none w-full;
      }
      
      &.offset-larger-1 {
        margin-left: 8.333333%;
      }

      &.offset-larger-2 {
        margin-left: 16.666667%;
      }

      &.offset-larger-3 {
        margin-left: 25%;
      }

      &.offset-larger-4 {
        margin-left: 33.333333%;
      }

      &.offset-larger-5 {
        margin-left: 41.666667%;
      }

      &.offset-larger-6 {
        margin-left: 50%;
      }

      &.offset-larger-7 {
        margin-left: 58.333333%;
      }

      &.offset-larger-8 {
        margin-left: 66.666667%;
      }

      &.offset-larger-9 {
        margin-left: 75%;
      }

      &.offset-larger-10 {
        margin-left: 83.333333%;
      }

      &.offset-larger-11 {
        margin-left: 91.666667%;
      }
    }
  }
  
  @screen 2xl {
    .columns {
      &.largest-auto > * {
        @apply flex-none w-auto;
      }

      &.largest-1 > * {
        @apply flex-none w-full;
      }

      &.largest-2 > * {
        @apply flex-none w-6/12;
      }

      &.largest-3 > * {
        @apply flex-none w-4/12;
      }

      &.largest-4 > * {
        @apply flex-none w-3/12;
      }

      &.largest-5 > * {
        @apply flex-none w-1/5;
      }

      &.largest-6 > * {
        @apply flex-none w-2/12;
      }
      
      &.top-largest {
        @apply items-start;
      }
      
      &.middle-largest {
        @apply items-center;
      }
      
      &.bottom-largest {
        @apply items-end;
      }
      
      &.stretch-largest {
        @apply items-stretch;
      }
      
      &.baseline-largest {
        @apply items-baseline;
      }
      
      &.left-largest {
        @apply justify-start;
      }
      
      &.center-largest {
        @apply justify-center;
      }
      
      &.right-largest {
        @apply justify-end;
      }
      
      &.justify-largest {
        @apply justify-between;
      }
      
      &.around-largest {
        @apply justify-around;
      }
      
      &.evenly-largest {
        @apply justify-evenly;
      }
      
      &.gap-largest-1 {
        @apply space-x-1;
      }

      &.gap-largest-2 {
        @apply space-x-2;
      }

      &.gap-largest-3 {
        @apply space-x-3;
      }

      &.gap-largest-4 {
        @apply space-x-4;
      }

      &.gap-largest-5 {
        @apply space-x-5;
      }

      &.gap-largest-6 {
        @apply space-x-6;
      }

      &.gap-largest-7 {
        @apply space-x-7;
      }

      &.gap-largest-8 {
        @apply space-x-8;
      }

      &.gap-largest-9 {
        @apply space-x-9;
      }

      &.gap-largest-10 {
        @apply space-x-10;
      }

      &.gap-largest-11 {
        @apply space-x-11;
      }

      &.gap-largest-12 {
        @apply space-x-12;
      }
      
      &.space-largest-1 {
        @apply space-y-1;
      }

      &.space-largest-2 {
        @apply space-y-2;
      }

      &.space-largest-3 {
        @apply space-y-3;
      }

      &.space-largest-4 {
        @apply space-y-4;
      }

      &.space-largest-5 {
        @apply space-y-5;
      }

      &.space-largest-6 {
        @apply space-y-6;
      }

      &.space-largest-7 {
        @apply space-y-7;
      }

      &.space-largest-8 {
        @apply space-y-8;
      }

      &.space-largest-9 {
        @apply space-y-9;
      }

      &.space-largest-10 {
        @apply space-y-10;
      }

      &.space-largest-11 {
        @apply space-y-11;
      }

      &.space-largest-12 {
        @apply space-y-12;
      }
    }

    .column {
      &.largest-auto {
        @apply flex-none w-auto;
      }

      &.largest-1 {
        @apply flex-none w-1/12;
      }

      &.largest-2 {
        @apply flex-none w-2/12;
      }

      &.largest-3 {
        @apply flex-none w-3/12;
      }

      &.largest-4 {
        @apply flex-none w-4/12;
      }

      &.largest-5 {
        @apply flex-none w-5/12;
      }

      &.largest-6 {
        @apply flex-none w-6/12;
      }

      &.largest-7 {
        @apply flex-none w-7/12;
      }

      &.largest-8 {
        @apply flex-none w-8/12;
      }

      &.largest-9 {
        @apply flex-none w-9/12;
      }

      &.largest-10 {
        @apply flex-none w-10/12;
      }

      &.largest-11 {
        @apply flex-none w-11/12;
      }

      &.largest-12 {
        @apply flex-none w-full;
      }
      
      &.offset-largest-1 {
        margin-left: 8.333333%;
      }

      &.offset-largest-2 {
        margin-left: 16.666667%;
      }

      &.offset-largest-3 {
        margin-left: 25%;
      }

      &.offset-largest-4 {
        margin-left: 33.333333%;
      }

      &.offset-largest-5 {
        margin-left: 41.666667%;
      }

      &.offset-largest-6 {
        margin-left: 50%;
      }

      &.offset-largest-7 {
        margin-left: 58.333333%;
      }

      &.offset-largest-8 {
        margin-left: 66.666667%;
      }

      &.offset-largest-9 {
        margin-left: 75%;
      }

      &.offset-largest-10 {
        margin-left: 83.333333%;
      }

      &.offset-largest-11 {
        margin-left: 91.666667%;
      }
    }
  }
}
