@layer components {
  .columns {
    @apply flex flex-wrap;
  }
  .columns > * {
    @apply flex-shrink-0 w-full max-w-full;
  }

  .column {
    flex: 1 0 0%;
  }
  
  .columns.size-auto > * {
    @apply flex-none w-auto;
  }

  .columns.size-1 > * {
    @apply flex-none w-full;
  }

  .columns.size-2 > * {
    @apply flex-none w-6/12;
  }

  .columns.size-3 > * {
    @apply flex-none 4/12;
  }

  .columns.size-4 > * {
    @apply flex-none 3/12;
  }

  .columns.size-5 > * {
    @apply flex-none w-1/5;
  }

  .columns.size-6 > * {
    @apply flex-none 2/12;
  }

  .column.size-auto {
    @apply flex-none w-auto;
  }

  .column.size-1 {
    @apply flex-none w-1/12;
  }

  .column.size-2 {
    @apply flex-none w-2/12;
  }

  .column.size-3 {
    @apply flex-none w-3/12;
  }

  .column.size-4 {
    @apply flex-none w-4/12;
  }

  .column.size-5 {
    @apply flex-none w-5/12;
  }

  .column.size-6 {
    @apply flex-none w-6/12;
  }

  .column.size-7 {
    @apply flex-none w-7/12;
  }

  .column.size-8 {
    @apply flex-none w-8/12;
  }

  .column.size-9 {
    @apply flex-none w-9/12;
  }

  .column.size-10 {
    @apply flex-none w-10/12;
  }

  .column.size-11 {
    @apply flex-none w-11/12;
  }

  .column.size-12 {
    @apply flex-none w-full;
  }
  
  .columns.top {
    @apply items-start;
  }
  
  .columns.middle {
    @apply items-center;
  }
  
  .columns.bottom {
    @apply items-end;
  }
  
  .columns.stretch {
    @apply items-stretch;
  }
  
  .columns.baseline {
    @apply items-baseline;
  }
  
  .columns.left {
    @apply justify-start;
  }
  
  .columns.center {
    @apply justify-center;
  }
  
  .columns.right {
    @apply justify-right;
  }
  
  .columns.justify {
    @apply justify-between;
  }
  
  .columns.around {
    @apply justify-around;
  }
  
  .columns.evenly {
    @apply justify-evenly;
  }
  
  .column.top {
    @apply self-start;
  }
  
  .column.middle {
    @apply self-center;
  }
  
  .column.bottom {
    @apply self-end;
  }
  
  .column.stretch {
    @apply self-stretch;
  }
  
  .column.offset-1 {
    margin-left: 8.333333%;
  }

  .column.offset-2 {
    margin-left: 16.666667%;
  }

  .column.offset-3 {
    margin-left: 25%;
  }

  .column.offset-4 {
    margin-left: 33.333333%;
  }

  .column.offset-5 {
    margin-left: 41.666667%;
  }

  .column.offset-6 {
    margin-left: 50%;
  }

  .column.offset-7 {
    margin-left: 58.333333%;
  }

  .column.offset-8 {
    margin-left: 66.666667%;
  }

  .column.offset-9 {
    margin-left: 75%;
  }

  .column.offset-10 {
    margin-left: 83.333333%;
  }

  .column.offset-11 {
    margin-left: 91.666667%;
  }

  .columns.gap-1 {
    @apply space-x-1;
  }

  .columns.gap-2 {
    @apply space-x-2;
  }

  .columns.gap-3 {
    @apply space-x-3;
  }

  .columns.gap-4 {
    @apply space-x-4;
  }

  .columns.gap-5 {
    @apply space-x-5;
  }

  .columns.gap-6 {
    @apply space-x-6;
  }

  .columns.gap-7 {
    @apply space-x-7;
  }

  .columns.gap-8 {
    @apply space-x-8;
  }

  .columns.gap-9 {
    @apply space-x-9;
  }

  .columns.gap-10 {
    @apply space-x-10;
  }

  .columns.gap-11 {
    @apply space-x-11;
  }

  .columns.gap-12 {
    @apply space-x-12;
  }

  .columns.space-1 {
    @apply space-y-1;
  }

  .columns.space-2 {
    @apply space-y-2;
  }

  .columns.space-3 {
    @apply space-y-3;
  }

  .columns.space-4 {
    @apply space-y-4;
  }

  .columns.space-5 {
    @apply space-y-5;
  }

  .columns.space-6 {
    @apply space-y-6;
  }

  .columns.space-7 {
    @apply space-y-7;
  }

  .columns.space-8 {
    @apply space-y-8;
  }

  .columns.space-9 {
    @apply space-y-9;
  }

  .columns.space-10 {
    @apply space-y-10;
  }

  .columns.space-11 {
    @apply space-y-11;
  }

  .columns.space-12 {
    @apply space-y-12;
  }

  @screen sm {
    .columns.small-auto > * {
      @apply flex-none w-auto;
    }

    .columns.small-1 > * {
      @apply flex-none w-full;
    }

    .columns.small-2 > * {
      @apply flex-none w-6/12;
    }

    .columns.small-3 > * {
      @apply flex-none 4/12;
    }

    .columns.small-4 > * {
      @apply flex-none 3/12;
    }

    .columns.small-5 > * {
      @apply flex-none w-1/5;
    }

    .columns.small-6 > * {
      @apply flex-none 2/12;
    }

    .column.small-auto {
      @apply flex-none w-auto;
    }

    .column.small-1 {
      @apply flex-none w-1/12;
    }

    .column.small-2 {
      @apply flex-none w-2/12;
    }

    .column.small-3 {
      @apply flex-none w-3/12;
    }

    .column.small-4 {
      @apply flex-none w-4/12;
    }

    .column.small-5 {
      @apply flex-none w-5/12;
    }

    .column.small-6 {
      @apply flex-none w-6/12;
    }

    .column.small-7 {
      @apply flex-none w-7/12;
    }

    .column.small-8 {
      @apply flex-none w-8/12;
    }

    .column.small-9 {
      @apply flex-none w-9/12;
    }

    .column.small-10 {
      @apply flex-none w-10/12;
    }

    .column.small-11 {
      @apply flex-none w-11/12;
    }

    .column.small-12 {
      @apply flex-none w-full;
    }
    
    .column.offset-small-1 {
      margin-left: 8.333333%;
    }

    .column.offset-small-2 {
      margin-left: 16.666667%;
    }

    .column.offset-small-3 {
      margin-left: 25%;
    }

    .column.offset-small-4 {
      margin-left: 33.333333%;
    }

    .column.offset-small-5 {
      margin-left: 41.666667%;
    }

    .column.offset-small-6 {
      margin-left: 50%;
    }

    .column.offset-small-7 {
      margin-left: 58.333333%;
    }

    .column.offset-small-8 {
      margin-left: 66.666667%;
    }

    .column.offset-small-9 {
      margin-left: 75%;
    }

    .column.offset-small-10 {
      margin-left: 83.333333%;
    }

    .column.offset-small-11 {
      margin-left: 91.666667%;
    }

    .columns.gap-small-1 {
      @apply space-x-1;
    }

    .columns.gap-small-2 {
      @apply space-x-2;
    }

    .columns.gap-small-3 {
      @apply space-x-3;
    }

    .columns.gap-small-4 {
      @apply space-x-4;
    }

    .columns.gap-small-5 {
      @apply space-x-5;
    }

    .columns.gap-small-6 {
      @apply space-x-6;
    }

    .columns.gap-small-7 {
      @apply space-x-7;
    }

    .columns.gap-small-8 {
      @apply space-x-8;
    }

    .columns.gap-small-9 {
      @apply space-x-9;
    }

    .columns.gap-small-10 {
      @apply space-x-10;
    }

    .columns.gap-small-11 {
      @apply space-x-11;
    }

    .columns.gap-small-12 {
      @apply space-x-12;
    }
    
    .columns.space-small-1 {
      @apply space-y-1;
    }

    .columns.space-small-2 {
      @apply space-y-2;
    }

    .columns.space-small-3 {
      @apply space-y-3;
    }

    .columns.space-small-4 {
      @apply space-y-4;
    }

    .columns.space-small-5 {
      @apply space-y-5;
    }

    .columns.space-small-6 {
      @apply space-y-6;
    }

    .columns.space-small-7 {
      @apply space-y-7;
    }

    .columns.space-small-8 {
      @apply space-y-8;
    }

    .columns.space-small-9 {
      @apply space-y-9;
    }

    .columns.space-small-10 {
      @apply space-y-10;
    }

    .columns.space-small-11 {
      @apply space-y-11;
    }

    .columns.space-small-12 {
      @apply space-y-12;
    }
  }
  
  @screen md {
    .columns.medium-auto > * {
      @apply flex-none w-auto;
    }

    .columns.medium-1 > * {
      @apply flex-none w-full;
    }

    .columns.medium-2 > * {
      @apply flex-none w-6/12;
    }

    .columns.medium-3 > * {
      @apply flex-none 4/12;
    }

    .columns.medium-4 > * {
      @apply flex-none 3/12;
    }

    .columns.medium-5 > * {
      @apply flex-none w-1/5;
    }

    .columns.medium-6 > * {
      @apply flex-none 2/12;
    }

    .column.medium-auto {
      @apply flex-none w-auto;
    }

    .column.medium-1 {
      @apply flex-none w-1/12;
    }

    .column.medium-2 {
      @apply flex-none w-2/12;
    }

    .column.medium-3 {
      @apply flex-none w-3/12;
    }

    .column.medium-4 {
      @apply flex-none w-4/12;
    }

    .column.medium-5 {
      @apply flex-none w-5/12;
    }

    .column.medium-6 {
      @apply flex-none w-6/12;
    }

    .column.medium-7 {
      @apply flex-none w-7/12;
    }

    .column.medium-8 {
      @apply flex-none w-8/12;
    }

    .column.medium-9 {
      @apply flex-none w-9/12;
    }

    .column.medium-10 {
      @apply flex-none w-10/12;
    }

    .column.medium-11 {
      @apply flex-none w-11/12;
    }

    .column.medium-12 {
      @apply flex-none w-full;
    }
    
    .column.offset-medium-1 {
      margin-left: 8.333333%;
    }

    .column.offset-medium-2 {
      margin-left: 16.666667%;
    }

    .column.offset-medium-3 {
      margin-left: 25%;
    }

    .column.offset-medium-4 {
      margin-left: 33.333333%;
    }

    .column.offset-medium-5 {
      margin-left: 41.666667%;
    }

    .column.offset-medium-6 {
      margin-left: 50%;
    }

    .column.offset-medium-7 {
      margin-left: 58.333333%;
    }

    .column.offset-medium-8 {
      margin-left: 66.666667%;
    }

    .column.offset-medium-9 {
      margin-left: 75%;
    }

    .column.offset-medium-10 {
      margin-left: 83.333333%;
    }

    .column.offset-medium-11 {
      margin-left: 91.666667%;
    }

    .columns.gap-medium-1 {
      @apply space-x-1;
    }

    .columns.gap-medium-2 {
      @apply space-x-2;
    }

    .columns.gap-medium-3 {
      @apply space-x-3;
    }

    .columns.gap-medium-4 {
      @apply space-x-4;
    }

    .columns.gap-medium-5 {
      @apply space-x-5;
    }

    .columns.gap-medium-6 {
      @apply space-x-6;
    }

    .columns.gap-medium-7 {
      @apply space-x-7;
    }

    .columns.gap-medium-8 {
      @apply space-x-8;
    }

    .columns.gap-medium-9 {
      @apply space-x-9;
    }

    .columns.gap-medium-10 {
      @apply space-x-10;
    }

    .columns.gap-medium-11 {
      @apply space-x-11;
    }

    .columns.gap-medium-12 {
      @apply space-x-12;
    }
    
    .columns.space-medium-1 {
      @apply space-y-1;
    }

    .columns.space-medium-2 {
      @apply space-y-2;
    }

    .columns.space-medium-3 {
      @apply space-y-3;
    }

    .columns.space-medium-4 {
      @apply space-y-4;
    }

    .columns.space-medium-5 {
      @apply space-y-5;
    }

    .columns.space-medium-6 {
      @apply space-y-6;
    }

    .columns.space-medium-7 {
      @apply space-y-7;
    }

    .columns.space-medium-8 {
      @apply space-y-8;
    }

    .columns.space-medium-9 {
      @apply space-y-9;
    }

    .columns.space-medium-10 {
      @apply space-y-10;
    }

    .columns.space-medium-11 {
      @apply space-y-11;
    }

    .columns.space-medium-12 {
      @apply space-y-12;
    }
  }
  
  @screen lg {
    .columns.large-auto > * {
      @apply flex-none w-auto;
    }

    .columns.large-1 > * {
      @apply flex-none w-full;
    }

    .columns.large-2 > * {
      @apply flex-none w-6/12;
    }

    .columns.large-3 > * {
      @apply flex-none 4/12;
    }

    .columns.large-4 > * {
      @apply flex-none 3/12;
    }

    .columns.large-5 > * {
      @apply flex-none w-1/5;
    }

    .columns.large-6 > * {
      @apply flex-none 2/12;
    }

    .column.large-auto {
      @apply flex-none w-auto;
    }

    .column.large-1 {
      @apply flex-none w-1/12;
    }

    .column.large-2 {
      @apply flex-none w-2/12;
    }

    .column.large-3 {
      @apply flex-none w-3/12;
    }

    .column.large-4 {
      @apply flex-none w-4/12;
    }

    .column.large-5 {
      @apply flex-none w-5/12;
    }

    .column.large-6 {
      @apply flex-none w-6/12;
    }

    .column.large-7 {
      @apply flex-none w-7/12;
    }

    .column.large-8 {
      @apply flex-none w-8/12;
    }

    .column.large-9 {
      @apply flex-none w-9/12;
    }

    .column.large-10 {
      @apply flex-none w-10/12;
    }

    .column.large-11 {
      @apply flex-none w-11/12;
    }

    .column.large-12 {
      @apply flex-none w-full;
    }
    
    .column.offset-large-1 {
      margin-left: 8.333333%;
    }

    .column.offset-large-2 {
      margin-left: 16.666667%;
    }

    .column.offset-large-3 {
      margin-left: 25%;
    }

    .column.offset-large-4 {
      margin-left: 33.333333%;
    }

    .column.offset-large-5 {
      margin-left: 41.666667%;
    }

    .column.offset-large-6 {
      margin-left: 50%;
    }

    .column.offset-large-7 {
      margin-left: 58.333333%;
    }

    .column.offset-large-8 {
      margin-left: 66.666667%;
    }

    .column.offset-large-9 {
      margin-left: 75%;
    }

    .column.offset-large-10 {
      margin-left: 83.333333%;
    }

    .column.offset-large-11 {
      margin-left: 91.666667%;
    }

    .columns.gap-large-1 {
      @apply space-x-1;
    }

    .columns.gap-large-2 {
      @apply space-x-2;
    }

    .columns.gap-large-3 {
      @apply space-x-3;
    }

    .columns.gap-large-4 {
      @apply space-x-4;
    }

    .columns.gap-large-5 {
      @apply space-x-5;
    }

    .columns.gap-large-6 {
      @apply space-x-6;
    }

    .columns.gap-large-7 {
      @apply space-x-7;
    }

    .columns.gap-large-8 {
      @apply space-x-8;
    }

    .columns.gap-large-9 {
      @apply space-x-9;
    }

    .columns.gap-large-10 {
      @apply space-x-10;
    }

    .columns.gap-large-11 {
      @apply space-x-11;
    }

    .columns.gap-large-12 {
      @apply space-x-12;
    }
    
    .columns.space-large-1 {
      @apply space-y-1;
    }

    .columns.space-large-2 {
      @apply space-y-2;
    }

    .columns.space-large-3 {
      @apply space-y-3;
    }

    .columns.space-large-4 {
      @apply space-y-4;
    }

    .columns.space-large-5 {
      @apply space-y-5;
    }

    .columns.space-large-6 {
      @apply space-y-6;
    }

    .columns.space-large-7 {
      @apply space-y-7;
    }

    .columns.space-large-8 {
      @apply space-y-8;
    }

    .columns.space-large-9 {
      @apply space-y-9;
    }

    .columns.space-large-10 {
      @apply space-y-10;
    }

    .columns.space-large-11 {
      @apply space-y-11;
    }

    .columns.space-large-12 {
      @apply space-y-12;
    }
  }
  
  @screen xl {
    .columns.larger-auto > * {
      @apply flex-none w-auto;
    }

    .columns.larger-1 > * {
      @apply flex-none w-full;
    }

    .columns.larger-2 > * {
      @apply flex-none w-6/12;
    }

    .columns.larger-3 > * {
      @apply flex-none 4/12;
    }

    .columns.larger-4 > * {
      @apply flex-none 3/12;
    }

    .columns.larger-5 > * {
      @apply flex-none w-1/5;
    }

    .columns.larger-6 > * {
      @apply flex-none 2/12;
    }

    .column.larger-auto {
      @apply flex-none w-auto;
    }

    .column.larger-1 {
      @apply flex-none w-1/12;
    }

    .column.larger-2 {
      @apply flex-none w-2/12;
    }

    .column.larger-3 {
      @apply flex-none w-3/12;
    }

    .column.larger-4 {
      @apply flex-none w-4/12;
    }

    .column.larger-5 {
      @apply flex-none w-5/12;
    }

    .column.larger-6 {
      @apply flex-none w-6/12;
    }

    .column.larger-7 {
      @apply flex-none w-7/12;
    }

    .column.larger-8 {
      @apply flex-none w-8/12;
    }

    .column.larger-9 {
      @apply flex-none w-9/12;
    }

    .column.larger-10 {
      @apply flex-none w-10/12;
    }

    .column.larger-11 {
      @apply flex-none w-11/12;
    }

    .column.larger-12 {
      @apply flex-none w-full;
    }
    
    .column.offset-larger-1 {
      margin-left: 8.333333%;
    }

    .column.offset-larger-2 {
      margin-left: 16.666667%;
    }

    .column.offset-larger-3 {
      margin-left: 25%;
    }

    .column.offset-larger-4 {
      margin-left: 33.333333%;
    }

    .column.offset-larger-5 {
      margin-left: 41.666667%;
    }

    .column.offset-larger-6 {
      margin-left: 50%;
    }

    .column.offset-larger-7 {
      margin-left: 58.333333%;
    }

    .column.offset-larger-8 {
      margin-left: 66.666667%;
    }

    .column.offset-larger-9 {
      margin-left: 75%;
    }

    .column.offset-larger-10 {
      margin-left: 83.333333%;
    }

    .column.offset-larger-11 {
      margin-left: 91.666667%;
    }

    .columns.gap-larger-1 {
      @apply space-x-1;
    }

    .columns.gap-larger-2 {
      @apply space-x-2;
    }

    .columns.gap-larger-3 {
      @apply space-x-3;
    }

    .columns.gap-larger-4 {
      @apply space-x-4;
    }

    .columns.gap-larger-5 {
      @apply space-x-5;
    }

    .columns.gap-larger-6 {
      @apply space-x-6;
    }

    .columns.gap-larger-7 {
      @apply space-x-7;
    }

    .columns.gap-larger-8 {
      @apply space-x-8;
    }

    .columns.gap-larger-9 {
      @apply space-x-9;
    }

    .columns.gap-larger-10 {
      @apply space-x-10;
    }

    .columns.gap-larger-11 {
      @apply space-x-11;
    }

    .columns.gap-larger-12 {
      @apply space-x-12;
    }
    
    .columns.space-larger-1 {
      @apply space-y-1;
    }

    .columns.space-larger-2 {
      @apply space-y-2;
    }

    .columns.space-larger-3 {
      @apply space-y-3;
    }

    .columns.space-larger-4 {
      @apply space-y-4;
    }

    .columns.space-larger-5 {
      @apply space-y-5;
    }

    .columns.space-larger-6 {
      @apply space-y-6;
    }

    .columns.space-larger-7 {
      @apply space-y-7;
    }

    .columns.space-larger-8 {
      @apply space-y-8;
    }

    .columns.space-larger-9 {
      @apply space-y-9;
    }

    .columns.space-larger-10 {
      @apply space-y-10;
    }

    .columns.space-larger-11 {
      @apply space-y-11;
    }

    .columns.space-larger-12 {
      @apply space-y-12;
    }
  }
  
  @screen 2xl {
    .columns.largest-auto > * {
      @apply flex-none w-auto;
    }

    .columns.largest-1 > * {
      @apply flex-none w-full;
    }

    .columns.largest-2 > * {
      @apply flex-none w-6/12;
    }

    .columns.largest-3 > * {
      @apply flex-none 4/12;
    }

    .columns.largest-4 > * {
      @apply flex-none 3/12;
    }

    .columns.largest-5 > * {
      @apply flex-none w-1/5;
    }

    .columns.largest-6 > * {
      @apply flex-none 2/12;
    }

    .column.largest-auto {
      @apply flex-none w-auto;
    }

    .column.largest-1 {
      @apply flex-none w-1/12;
    }

    .column.largest-2 {
      @apply flex-none w-2/12;
    }

    .column.largest-3 {
      @apply flex-none w-3/12;
    }

    .column.largest-4 {
      @apply flex-none w-4/12;
    }

    .column.largest-5 {
      @apply flex-none w-5/12;
    }

    .column.largest-6 {
      @apply flex-none w-6/12;
    }

    .column.largest-7 {
      @apply flex-none w-7/12;
    }

    .column.largest-8 {
      @apply flex-none w-8/12;
    }

    .column.largest-9 {
      @apply flex-none w-9/12;
    }

    .column.largest-10 {
      @apply flex-none w-10/12;
    }

    .column.largest-11 {
      @apply flex-none w-11/12;
    }

    .column.largest-12 {
      @apply flex-none w-full;
    }
    
    .column.offset-largest-1 {
      margin-left: 8.333333%;
    }

    .column.offset-largest-2 {
      margin-left: 16.666667%;
    }

    .column.offset-largest-3 {
      margin-left: 25%;
    }

    .column.offset-largest-4 {
      margin-left: 33.333333%;
    }

    .column.offset-largest-5 {
      margin-left: 41.666667%;
    }

    .column.offset-largest-6 {
      margin-left: 50%;
    }

    .column.offset-largest-7 {
      margin-left: 58.333333%;
    }

    .column.offset-largest-8 {
      margin-left: 66.666667%;
    }

    .column.offset-largest-9 {
      margin-left: 75%;
    }

    .column.offset-largest-10 {
      margin-left: 83.333333%;
    }

    .column.offset-largest-11 {
      margin-left: 91.666667%;
    }

    .columns.gap-largest-1 {
      @apply space-x-1;
    }

    .columns.gap-largest-2 {
      @apply space-x-2;
    }

    .columns.gap-largest-3 {
      @apply space-x-3;
    }

    .columns.gap-largest-4 {
      @apply space-x-4;
    }

    .columns.gap-largest-5 {
      @apply space-x-5;
    }

    .columns.gap-largest-6 {
      @apply space-x-6;
    }

    .columns.gap-largest-7 {
      @apply space-x-7;
    }

    .columns.gap-largest-8 {
      @apply space-x-8;
    }

    .columns.gap-largest-9 {
      @apply space-x-9;
    }

    .columns.gap-largest-10 {
      @apply space-x-10;
    }

    .columns.gap-largest-11 {
      @apply space-x-11;
    }

    .columns.gap-largest-12 {
      @apply space-x-12;
    }
    
    .columns.space-largest-1 {
      @apply space-y-1;
    }

    .columns.space-largest-2 {
      @apply space-y-2;
    }

    .columns.space-largest-3 {
      @apply space-y-3;
    }

    .columns.space-largest-4 {
      @apply space-y-4;
    }

    .columns.space-largest-5 {
      @apply space-y-5;
    }

    .columns.space-largest-6 {
      @apply space-y-6;
    }

    .columns.space-largest-7 {
      @apply space-y-7;
    }

    .columns.space-largest-8 {
      @apply space-y-8;
    }

    .columns.space-largest-9 {
      @apply space-y-9;
    }

    .columns.space-largest-10 {
      @apply space-y-10;
    }

    .columns.space-largest-11 {
      @apply space-y-11;
    }

    .columns.space-largest-12 {
      @apply space-y-12;
    }
  }
}
