@define-mixin default-mixin $class, $rule, $value {
  $(class) {
    $(rule): $value;
  }
}

@define-mixin default-double $class, $rule1, $rule2, $val1, $val2 {
  $(class) {
    $(rule1): $val1;
    $(rule2): $val2;
  }
}

@define-mixin default-triple $class, $rule1, $rule2, $rule3, $val1, $val2, $val3 {
  $(class) {
    $(rule1): $val1;
    $(rule2): $val2;
    $(rule3): $val3;
  }
}
