@define-mixin position-mixin $class, $rule {
  $(class)-0 {
    $(rule): 0px !important;
  }
  
  $(class)-5 {
    $(rule): 0.125rem !important;
  }
  
  $(class)-10 {
    $(rule): 0.25rem !important;
  }
  
  $(class)-15 {
    $(rule): 0.375rem !important;
  }
  
  $(class)-20 {
    $(rule): 0.5rem !important;
  }
  
  $(class)-25 {
    $(rule): 0.625rem !important;
  }
  
  $(class)-30 {
    $(rule): 0.75rem !important;
  }
  
  $(class)-35 {
    $(rule): 0.875rem !important;
  }
  
  $(class)-40 {
    $(rule): 1rem !important;
  }
  
  $(class)-45 {
    $(rule): 1.125rem !important;
  }
  
  $(class)-50 {
    $(rule): 1.25rem !important;
  }
  
  $(class)-55 {
    $(rule): 1.375rem !important;
  }
  
  $(class)-60 {
    $(rule): 1.5rem !important;
  }
  
  $(class)-65 {
    $(rule): 1.625rem !important;
  }
  
  $(class)-70 {
    $(rule): 1.75rem !important;
  }
  
  $(class)-75 {
    $(rule): 1.875rem !important;
  }
  
  $(class)-80 {
    $(rule): 2rem !important;
  }
  
  $(class)-85 {
    $(rule): 2.125rem !important;
  }
  
  $(class)-90 {
    $(rule): 2.25rem !important;
  }
  
  $(class)-95 {
    $(rule): 2.375rem !important;
  }
  
  $(class)-100 {
    $(rule): 2.5rem !important;
  }
}

@define-mixin position-percent $class, $rule {
  $(class) {
    $(rule): var(--$(rule)) !important;
  }
  
  $(class)-0 {
    $(rule): 0px !important;
  }
  
  $(class)-5 {
    $(rule): 5% !important;
  }
  
  $(class)-10 {
    $(rule): 10% !important;
  }
  
  $(class)-15 {
    $(rule): 15% !important;
  }
  
  $(class)-20 {
    $(rule): 20% !important;
  }
  
  $(class)-25 {
    $(rule): 25% !important;
  }
  
  $(class)-30 {
    $(rule): 30% !important;
  }
  
  $(class)-35 {
    $(rule): 35% !important;
  }
  
  $(class)-40 {
    $(rule): 40% !important;
  }
  
  $(class)-45 {
    $(rule): 45% !important;
  }
  
  $(class)-50 {
    $(rule): 50% !important;
  }
  
  $(class)-55 {
    $(rule): 55% !important;
  }
  
  $(class)-60 {
    $(rule): 60% !important;
  }
  
  $(class)-65 {
    $(rule): 65% !important;
  }
  
  $(class)-70 {
    $(rule): 70% !important;
  }
  
  $(class)-75 {
    $(rule): 75% !important;
  }
  
  $(class)-80 {
    $(rule): 80% !important;
  }
  
  $(class)-85 {
    $(rule): 85% !important;
  }
  
  $(class)-90 {
    $(rule): 90% !important;
  }
  
  $(class)-95 {
    $(rule): 95% !important;
  }
  
  $(class)-100 {
    $(rule): 100% !important;
  }
}

@define-mixin position-pixel $class, $rule {
  $(class)-0 {
    $(rule): 0px !important;
  }
  
  $(class)-5 {
    $(rule): 50px !important;
  }
  
  $(class)-10 {
    $(rule): 100px !important;
  }
  
  $(class)-15 {
    $(rule): 150px !important;
  }
  
  $(class)-20 {
    $(rule): 200px !important;
  }
  
  $(class)-25 {
    $(rule): 250px !important;
  }
  
  $(class)-30 {
    $(rule): 300px !important;
  }
  
  $(class)-35 {
    $(rule): 350px !important;
  }
  
  $(class)-40 {
    $(rule): 400px !important;
  }
  
  $(class)-45 {
    $(rule): 450px !important;
  }
  
  $(class)-50 {
    $(rule): 500px !important;
  }
  
  $(class)-55 {
    $(rule): 550px !important;
  }
  
  $(class)-60 {
    $(rule): 600px !important;
  }
  
  $(class)-65 {
    $(rule): 650px !important;
  }
  
  $(class)-70 {
    $(rule): 700px !important;
  }
  
  $(class)-75 {
    $(rule): 750px !important;
  }
  
  $(class)-80 {
    $(rule): 800px !important;
  }
  
  $(class)-85 {
    $(rule): 850px !important;
  }
  
  $(class)-90 {
    $(rule): 900px !important;
  }
  
  $(class)-95 {
    $(rule): 950px !important;
  }
  
  $(class)-100 {
    $(rule): 1000px !important;
  }
}

@define-mixin position-double $class, $rule1, $rule2 {
  $(class)-0 {
    $(rule1): 0px !important;
    $(rule2): 0px !important;
  }
  
  $(class)-5 {
    $(rule1): 5% !important;
    $(rule2): 5% !important;
  }
  
  $(class)-10 {
    $(rule1): 10% !important;
    $(rule2): 10% !important;
  }
  
  $(class)-15 {
    $(rule1): 15% !important;
    $(rule2): 15% !important;
  }
  
  $(class)-20 {
    $(rule1): 20% !important;
    $(rule2): 20% !important;
  }
  
  $(class)-25 {
    $(rule1): 25% !important;
    $(rule2): 25% !important;
  }
  
  $(class)-30 {
    $(rule1): 30% !important;
    $(rule2): 30% !important;
  }
  
  $(class)-35 {
    $(rule1): 35% !important;
    $(rule2): 35% !important;
  }
  
  $(class)-40 {
    $(rule1): 40% !important;
    $(rule2): 40% !important;
  }
  
  $(class)-45 {
    $(rule1): 45% !important;
    $(rule2): 45% !important;
  }
  
  $(class)-50 {
    $(rule1): 50% !important;
    $(rule2): 50% !important;
  }
  
  $(class)-55 {
    $(rule1): 55% !important;
    $(rule2): 55% !important;
  }
  
  $(class)-60 {
    $(rule1): 60% !important;
    $(rule2): 60% !important;
  }
  
  $(class)-65 {
    $(rule1): 65% !important;
    $(rule2): 65% !important;
  }
  
  $(class)-70 {
    $(rule1): 70% !important;
    $(rule2): 70% !important;
  }
  
  $(class)-75 {
    $(rule1): 75% !important;
    $(rule2): 75% !important;
  }
  
  $(class)-80 {
    $(rule1): 80% !important;
    $(rule2): 80% !important;
  }
  
  $(class)-85 {
    $(rule1): 85% !important;
    $(rule2): 85% !important;
  }
  
  $(class)-90 {
    $(rule1): 90% !important;
    $(rule2): 90% !important;
  }
  
  $(class)-95 {
    $(rule1): 95% !important;
    $(rule2): 95% !important;
  }
  
  $(class)-100 {
    $(rule1): 100% !important;
    $(rule2): 100% !important;
  }
}

@define-mixin position-pixels $class, $rule1, $rule2 {
  $(class)-0 {
    $(rule1): 0px !important;
    $(rule2): 0px !important;
  }
  
  $(class)-5 {
    $(rule1): 50px !important;
    $(rule2): 50px !important;
  }
  
  $(class)-10 {
    $(rule1): 100px !important;
    $(rule2): 100px !important;
  }
  
  $(class)-15 {
    $(rule1): 150px !important;
    $(rule2): 150px !important;
  }
  
  $(class)-20 {
    $(rule1): 200px !important;
    $(rule2): 200px !important;
  }
  
  $(class)-25 {
    $(rule1): 250px !important;
    $(rule2): 250px !important;
  }
  
  $(class)-30 {
    $(rule1): 300px !important;
    $(rule2): 300px !important;
  }
  
  $(class)-35 {
    $(rule1): 350px !important;
    $(rule2): 350px !important;
  }
  
  $(class)-40 {
    $(rule1): 400px !important;
    $(rule2): 400px !important;
  }
  
  $(class)-45 {
    $(rule1): 450px !important;
    $(rule2): 450px !important;
  }
  
  $(class)-50 {
    $(rule1): 500px !important;
    $(rule2): 500px !important;
  }
  
  $(class)-55 {
    $(rule1): 550px !important;
    $(rule2): 550px !important;
  }
  
  $(class)-60 {
    $(rule1): 600px !important;
    $(rule2): 600px !important;
  }
  
  $(class)-65 {
    $(rule1): 650px !important;
    $(rule2): 650px !important;
  }
  
  $(class)-70 {
    $(rule1): 700px !important;
    $(rule2): 700px !important;
  }
  
  $(class)-75 {
    $(rule1): 750px !important;
    $(rule2): 750px !important;
  }
  
  $(class)-80 {
    $(rule1): 800px !important;
    $(rule2): 800px !important;
  }
  
  $(class)-85 {
    $(rule1): 850px !important;
    $(rule2): 850px !important;
  }
  
  $(class)-90 {
    $(rule1): 900px !important;
    $(rule2): 900px !important;
  }
  
  $(class)-95 {
    $(rule1): 950px !important;
    $(rule2): 950px !important;
  }
  
  $(class)-100 {
    $(rule1): 1000px !important;
    $(rule2): 1000px !important;
  }
}

@define-mixin position-rems $class, $rule1, $rule2 {
  $(class)-0 {
    $(rule1): 0px !important;
    $(rule2): 0px !important;
  }
  
  $(class)-5 {
    $(rule1): 0.125rem !important;
    $(rule2): 0.125rem !important;
  }
  
  $(class)-10 {
    $(rule1): 0.25rem !important;
    $(rule2): 0.25rem !important;
  }
  
  $(class)-15 {
    $(rule1): 0.375rem !important;
    $(rule2): 0.375rem !important;
  }
  
  $(class)-20 {
    $(rule1): 0.5rem !important;
    $(rule2): 0.5rem !important;
  }
  
  $(class)-25 {
    $(rule1): 0.625rem !important;
    $(rule2): 0.625rem !important;
  }
  
  $(class)-30 {
    $(rule1): 0.75rem !important;
    $(rule2): 0.75rem !important;
  }
  
  $(class)-35 {
    $(rule1): 0.875rem !important;
    $(rule2): 0.875rem !important;
  }
  
  $(class)-40 {
    $(rule1): 1rem !important;
    $(rule2): 1rem !important;
  }
  
  $(class)-45 {
    $(rule1): 1.125rem !important;
    $(rule2): 1.125rem !important;
  }
  
  $(class)-50 {
    $(rule1): 1.25rem !important;
    $(rule2): 1.25rem !important;
  }
  
  $(class)-55 {
    $(rule1): 1.375rem !important;
    $(rule2): 1.375rem !important;
  }
  
  $(class)-60 {
    $(rule1): 1.5rem !important;
    $(rule2): 1.5rem !important;
  }
  
  $(class)-65 {
    $(rule1): 1.625rem !important;
    $(rule2): 1.625rem !important;
  }
  
  $(class)-70 {
    $(rule1): 1.75rem !important;
    $(rule2): 1.75rem !important;
  }
  
  $(class)-75 {
    $(rule1): 1.875rem !important;
    $(rule2): 1.875rem !important;
  }
  
  $(class)-80 {
    $(rule1): 2rem !important;
    $(rule2): 2rem !important;
  }
  
  $(class)-85 {
    $(rule1): 2.125rem !important;
    $(rule2): 2.125rem !important;
  }
  
  $(class)-90 {
    $(rule1): 2.25rem !important;
    $(rule2): 2.25rem !important;
  }
  
  $(class)-95 {
    $(rule1): 2.375rem !important;
    $(rule2): 2.375rem !important;
  }
  
  $(class)-100 {
    $(rule1): 2.5rem !important;
    $(rule2): 2.5rem !important;
  }
}
