@define-mixin card-mixin $class, $val1, $val2 {
  $class {
    flex-direction: $val1;
  }
  
  $(class) .card-image,
  $(class) .card-figure {
    width: $val2;
  }
    
  $(class) .card-figure .card-image {
    width: 100%;
    height: 100%;
  }
}
