.clip {
  clip-path: var(--clip);

  &Path {
    clip-path: path(var(--clipPath));
  }
  
  &Inset {
    clip-path: inset(var(--clipPath));
  }
  
  &Circle {
    clip-path: circle(var(--clipPath));
  }
  
  &Ellipse {
    clip-path: ellipse(var(--clipPath));
  }
  
  &Polygon {
    clip-path: polygon(var(--clipPath));
  }
}
