.overflow,
.overflowAuto { 
  overflow: auto !important;
  &X {
    overflow-x: auto !important;
  }
  &Y {
    overflow-y: auto !important;
  }
}

.overflowHidden { 
  overflow: hidden !important;
  &X {
    overflow-x: hidden !important;
  }
  &Y {
    overflow-y: hidden !important;
  }
}

.overflowVisible { 
  overflow: visible !important;
  &X {
    overflow-x: visible !important;
  }
  &Y {
    overflow-y: visible !important;
  }
}
.overflowScroll { 
  overflow: scroll !important;
  &X {
    overflow-x: scroll !important;
  }
  &Y {
    overflow-y: scroll !important;
  }
}

.txtClip {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.txtTruncate,
.txtEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.txtLess {
  overflow: hidden;
  text-overflow: " [..]";
  white-space: nowrap;
}

.txtMore {
  overflow: hidden;
  text-overflow: clip;
  white-space: initial;
}

@media (min-width: 640px) {
  .xs\.overflow,
  .xs\.overflowAuto { 
    overflow: auto !important;
    &X {
      overflow-x: auto !important;
    }
    &Y {
      overflow-y: auto !important;
    }
  }

  .xs\.overflowHidden { 
    overflow: hidden !important;
    &X {
      overflow-x: hidden !important;
    }
    &Y {
      overflow-y: hidden !important;
    }
  }

  .xs\.overflowVisible { 
    overflow: visible !important;
    &X {
      overflow-x: visible !important;
    }
    &Y {
      overflow-y: visible !important;
    }
  }
  .xs\.overflowScroll { 
    overflow: scroll !important;
    &X {
      overflow-x: scroll !important;
    }
    &Y {
      overflow-y: scroll !important;
    }
  }

  .xs\.txtClip {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }

  .xs\.txtTruncate,
  .xs\.txtEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .xs\.txtLess {
    overflow: hidden;
    text-overflow: " [..]";
    white-space: nowrap;
  }

  .xs\.txtMore {
    overflow: hidden;
    text-overflow: clip;
    white-space: initial;
  }
}

@media (min-width: 768px) {
  .sm\.overflow,
  .sm\.overflowAuto { 
    overflow: auto !important;
    &X {
      overflow-x: auto !important;
    }
    &Y {
      overflow-y: auto !important;
    }
  }

  .sm\.overflowHidden { 
    overflow: hidden !important;
    &X {
      overflow-x: hidden !important;
    }
    &Y {
      overflow-y: hidden !important;
    }
  }

  .sm\.overflowVisible { 
    overflow: visible !important;
    &X {
      overflow-x: visible !important;
    }
    &Y {
      overflow-y: visible !important;
    }
  }
  .sm\.overflowScroll { 
    overflow: scroll !important;
    &X {
      overflow-x: scroll !important;
    }
    &Y {
      overflow-y: scroll !important;
    }
  }

  .sm\.txtClip {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }

  .sm\.txtTruncate,
  .sm\.txtEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .sm\.txtLess {
    overflow: hidden;
    text-overflow: " [..]";
    white-space: nowrap;
  }

  .sm\.txtMore {
    overflow: hidden;
    text-overflow: clip;
    white-space: initial;
  }
}

@media (min-width: 1024px) {
  .md\.overflow,
  .md\.overflowAuto { 
    overflow: auto !important;
    &X {
      overflow-x: auto !important;
    }
    &Y {
      overflow-y: auto !important;
    }
  }

  .md\.overflowHidden { 
    overflow: hidden !important;
    &X {
      overflow-x: hidden !important;
    }
    &Y {
      overflow-y: hidden !important;
    }
  }

  .md\.overflowVisible { 
    overflow: visible !important;
    &X {
      overflow-x: visible !important;
    }
    &Y {
      overflow-y: visible !important;
    }
  }
  .md\.overflowScroll { 
    overflow: scroll !important;
    &X {
      overflow-x: scroll !important;
    }
    &Y {
      overflow-y: scroll !important;
    }
  }

  .md\.txtClip {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }

  .md\.txtTruncate,
  .md\.txtEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .md\.txtLess {
    overflow: hidden;
    text-overflow: " [..]";
    white-space: nowrap;
  }

  .md\.txtMore {
    overflow: hidden;
    text-overflow: clip;
    white-space: initial;
  }
}

@media (min-width: 1280px) {
  .lg\.overflow,
  .lg\.overflowAuto { 
    overflow: auto !important;
    &X {
      overflow-x: auto !important;
    }
    &Y {
      overflow-y: auto !important;
    }
  }

  .lg\.overflowHidden { 
    overflow: hidden !important;
    &X {
      overflow-x: hidden !important;
    }
    &Y {
      overflow-y: hidden !important;
    }
  }

  .lg\.overflowVisible { 
    overflow: visible !important;
    &X {
      overflow-x: visible !important;
    }
    &Y {
      overflow-y: visible !important;
    }
  }
  .lg\.overflowScroll { 
    overflow: scroll !important;
    &X {
      overflow-x: scroll !important;
    }
    &Y {
      overflow-y: scroll !important;
    }
  }

  .lg\.txtClip {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }

  .lg\.txtTruncate,
  .lg\.txtEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .lg\.txtLess {
    overflow: hidden;
    text-overflow: " [..]";
    white-space: nowrap;
  }

  .lg\.txtMore {
    overflow: hidden;
    text-overflow: clip;
    white-space: initial;
  }
}

@media (min-width: 1536px) {
  .xl\.overflow,
  .xl\.overflowAuto { 
    overflow: auto !important;
    &X {
      overflow-x: auto !important;
    }
    &Y {
      overflow-y: auto !important;
    }
  }

  .xl\.overflowHidden { 
    overflow: hidden !important;
    &X {
      overflow-x: hidden !important;
    }
    &Y {
      overflow-y: hidden !important;
    }
  }

  .xl\.overflowVisible { 
    overflow: visible !important;
    &X {
      overflow-x: visible !important;
    }
    &Y {
      overflow-y: visible !important;
    }
  }
  .xl\.overflowScroll { 
    overflow: scroll !important;
    &X {
      overflow-x: scroll !important;
    }
    &Y {
      overflow-y: scroll !important;
    }
  }

  .xl\.txtClip {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }

  .xl\.txtTruncate,
  .xl\.txtEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .xl\.txtLess {
    overflow: hidden;
    text-overflow: " [..]";
    white-space: nowrap;
  }

  .xl\.txtMore {
    overflow: hidden;
    text-overflow: clip;
    white-space: initial;
  }
}

@media (min-width: 1920px) {
  .\2xl\.overflow,
  .\2xl\.overflowAuto { 
    overflow: auto !important;
    &X {
      overflow-x: auto !important;
    }
    &Y {
      overflow-y: auto !important;
    }
  }

  .\2xl\.overflowHidden { 
    overflow: hidden !important;
    &X {
      overflow-x: hidden !important;
    }
    &Y {
      overflow-y: hidden !important;
    }
  }

  .\2xl\.overflowVisible { 
    overflow: visible !important;
    &X {
      overflow-x: visible !important;
    }
    &Y {
      overflow-y: visible !important;
    }
  }
  .\2xl\.overflowScroll { 
    overflow: scroll !important;
    &X {
      overflow-x: scroll !important;
    }
    &Y {
      overflow-y: scroll !important;
    }
  }

  .\2xl\.txtClip {
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
  }

  .\2xl\.txtTruncate,
  .\2xl\.txtEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .\2xl\.txtLess {
    overflow: hidden;
    text-overflow: " [..]";
    white-space: nowrap;
  }

  .\2xl\.txtMore {
    overflow: hidden;
    text-overflow: clip;
    white-space: initial;
  }
}
