.shape {
  
  &Outside {
    shape-outside: var(--shapeOutside);
  }
  
  &Margin {
    shape-margin: var(--shapeMargin);
  }
  
  &Threshold {
    shape-image-threshold: var(--shapeThreshold);
  }
}
