@provide btn {
  .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: var(--txtButton, #212529);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: var(--bgButton, transparent);
    border: 1px solid var(--bdButton, transparent);
    border-radius: var(--rdButton, 0.25rem);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  @prefers reduce {
    .btn {
      transition: none;
    }
  }

  .btn:hover {
    color: #000;
    background-color: rgba(0, 0, 0, 0.075);
  }

  .btn.active {
    color: #000;
    background-color: rgba(0, 0, 0, 0.125);
  }

  .btnCheck {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  }

  .btnCheck[disabled] + .btn, .btnCheck:disabled + .btn {
    pointer-events: none;
    filter: none;
    opacity: 0.65;
  }

  .btnCheck:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
  }

  .btn:disabled, .btn.disabled, fieldset:disabled .btn {
    pointer-events: none;
    opacity: 0.65;
  }

  .btnLink {
    font-weight: 400;
    color: #0d6efd;
    text-decoration: underline;
  }

  .btnLink:hover {
    color: #0a58ca;
  }

  .btnLink:disabled, .btnLink.disabled {
    color: #6c757d;
  }

  .btnLargest, .btnGroupLargest > .btn {
    padding: 1.5rem 2rem;
    font-size: 1rem;
    border-radius: 0.5rem;
  }

  .btnLarger, .btnGroupLarger > .btn {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 0.4rem;
  }

  .btnLarge, .btnGroupLarge > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
  }

  .btnSmall, .btnGroupSmall > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
  }

  .btnSmaller, .btnGroupSmaller > .btn {
    padding: 0.1rem 0.25rem;
    font-size: 0.65rem;
    border-radius: 0.1rem;
  }

  .btnSmallest, .btnGroupSmallest > .btn {
    padding: 0.075rem 0.1rem;
    font-size: 0.425rem;
    border-radius: 0.05rem;
  }

  .btnClose {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.5;
  }

  .btnClose:hover {
    color: #000;
    text-decoration: none;
    opacity: 0.75;
  }

  .btnClose:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    opacity: 1;
  }

  .btnClose:disabled, .btnClose.disabled {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    opacity: 0.25;
  }

  .btnCloseWhite {
    filter: invert(1) grayscale(100%) brightness(200%);
  }

  @prefers dark {
    [data-dark='true'] .btn {
      color: #fff;
    }
    
    [data-dark='true'] .btn:hover {
      color: #fff;
    }
    
    [data-dark='true'] .btn.active {
      color: #fff;
    }
  }

  [data-mode='dark'] .btn {
    color: #fff;
  }

  [data-mode='dark'] .btn:hover {
    color: #fff;
  }

  [data-mode='dark'] .btn.active {
    color: #fff;
  }
}
