@layer components {
  .card {
    @apply relative flex flex-col bg-white bg-clip-border;
    min-width: 0;
    overflow-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, 0.125);
    
    &.top {
      @apply flex-col;
    }
    
    &.bottom {
      @apply flex-col-reverse;
    }
    
    &.left {
      @apply flex-row;
    }
    
    &.right {
      @apply flex-row-reverse;
    }
    
    &-image {
      @apply w-full;
    }
    
    &-figure {
      @apply relative w-full m-0;
    }
    
    &-figure &-caption {
      position: absolute;
      right: 10px;
      bottom: 10px;
      z-index: 1001;
      border-radius: .25rem;
      padding: .5rem;
      background: #333;
      color: #fff;
    }
    
    &.top &-image,
    &.bottom &-image,
    &.top &-figure,
    &.bottom &-figure,
    &.left &-figure &-image,
    &.right &-figure &-image {
      @apply w-full;
    }
    
    &.left &-image,
    &.right &-image,
    &.left &-figure,
    &.right &-figure {
      width: 300px;
    }
    
    &-content {
      @apply flex flex-col;
    }
    
    &-header {
      padding: 0.5rem 1rem;
      margin-bottom: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    
    &-body {
      flex: 1 1 auto;
      padding: 1rem 1rem;
    }
    
    &-footer {
      padding: 0.5rem 1rem;
      border-top: 1px solid rgba(0, 0, 0, 0.125);
    }
    
    &-title {
      margin-bottom: 0.5rem;
    }
    
    &-subtitle {
      margin-top: -0.25rem;
      margin-bottom: 0;
    }
    
    &-text {
      margin-bottom: 0;
    }
  }
}
