.picker,
.picker-up,
.picker-right,
.picker-down,
.picker-left {
  position: relative;
}

.picker-toggle {
  white-space: nowrap;
}
.picker-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.picker-toggle:empty::after {
  margin-left: 0;
}

.picker-box,
.picker-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.picker-autocomplete {
  right: auto;
  width: 100% !important;
}

.picker-box-left {
  right: auto;
  left: 0;
}

.picker-box-right {
  right: 0;
  left: auto;
}

@media (min-width: 576px) {
  .picker-box-small-left {
    right: auto;
    left: 0;
  }

  .picker-box-small-right {
    right: 0;
    left: auto;
  }
}
@media (min-width: 768px) {
  .picker-box-md-left {
    right: auto;
    left: 0;
  }

  .picker-box-md-right {
    right: 0;
    left: auto;
  }
}
@media (min-width: 992px) {
  .picker-box-large-left {
    right: auto;
    left: 0;
  }

  .picker-box-large-right {
    right: 0;
    left: auto;
  }
}
@media (min-width: 1200px) {
  .picker-box-larger-left {
    right: auto;
    left: 0;
  }

  .picker-box-larger-right {
    right: 0;
    left: auto;
  }
}
@media (min-width: 1400px) {
  .picker-box-largest-left {
    right: auto;
    left: 0;
  }

  .picker-box-largest-right {
    right: 0;
    left: auto;
  }
}
.picker-up .picker-box {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem;
}
.picker-up .picker-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}
.picker-up .picker-toggle:empty::after {
  margin-left: 0;
}

.picker-right .picker-box {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.125rem;
}
.picker-right .picker-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}
.picker-right .picker-toggle:empty::after {
  margin-left: 0;
}
.picker-right .picker-toggle::after {
  vertical-align: 0;
}

.picker-left .picker-box {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: 0.125rem;
}
.picker-left .picker-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
}
.picker-left .picker-toggle::after {
  display: none;
}
.picker-left .picker-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent;
}
.picker-left .picker-toggle:empty::after {
  margin-left: 0;
}
.picker-left .picker-toggle::before {
  vertical-align: 0;
}

.picker-box[x-placement^=top], .picker-box[x-placement^=right], .picker-box[x-placement^=bottom], .picker-box[x-placement^=left] {
  right: auto;
  bottom: auto;
}

.picker-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.picker-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.picker-item:hover, .picker-item:focus {
  color: #1e2125;
  background-color: #f8f9fa;
}
.picker-item.active, .picker-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #0d6efd;
}
.picker-item.disabled, .picker-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}

.picker-box.show {
  display: block;
}

.picker-header {
  display: block;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6c757d;
  white-space: nowrap;
}

.picker-item-text {
  display: block;
  padding: 0.25rem 1rem;
  color: #212529;
}

.picker-box-dark {
  color: #dee2e6;
  background-color: #343a40;
  border-color: rgba(0, 0, 0, 0.15);
}
.picker-box-dark .picker-item {
  color: #dee2e6;
}
.picker-box-dark .picker-item:hover, .picker-box-dark .picker-item:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}
.picker-box-dark .picker-item.active, .picker-box-dark .picker-item:active {
  color: #fff;
  background-color: #0d6efd;
}
.picker-box-dark .picker-item.disabled, .picker-box-dark .picker-item:disabled {
  color: #adb5bd;
}
.picker-box-dark .picker-divider {
  border-color: rgba(0, 0, 0, 0.15);
}
.picker-box-dark .picker-item-text {
  color: #dee2e6;
}
.picker-box-dark .picker-header {
  color: #adb5bd;
}
.picker-toggle-split {
  padding-right: 0.5625rem;
  padding-left: 0.5625rem;
}
.picker-toggle-split::after, .picker-up .picker-toggle-split::after, .picker-right .picker-toggle-split::after {
  margin-left: 0;
}
.picker-left .picker-toggle-split::before {
  margin-right: 0;
}
