@provide check {
  .checkWrapper {
    ref: flex itemsCenter nhg-1.5rem pdLeft-1.5em mgBottom-0.125rem;
  }
  
  .checkWrapper > .check {
    ref: mgLeft-n1.5em;
  }

  .check {
    ref: wd-1em hg-1em mgTop-1 alignTop bgColor-hex(fff) bgNorepeat bgCenter bgContain bdSolid-1px bdColor-rgba(0,0,0,0.25) appearanceNone;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    transition: background-color 0.15s ease-in-out, background-position 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .check[type=checkbox] {
    ref: rd-0.25em;
  }
  
  .check[type=radio] {
    ref: red-50per;
  }
  
  .check:active {
    filter: brightness(90%);
  }
    
  .check:focus {
    ref: bdColor-hex(86b7fe) outline-0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  
  .check:checked {
    ref: bgColor-hex(0d6efd) bdColor-hex(0d6efd);
  }

  .check:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  }

  .check:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
  }

  .check[type=checkbox]:indeterminate {
    ref: bgColor-hex(0d6efd) bdColor-hex(0d6efd);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
  }

  .check:disabled {
    ref: eventsNone opacity-0.5;
    filter: none;
  }
  
  @prefers reduce {
    transition: none;
  }
  
  .check[disabled] ~ .checkWrapper .label, .check:disabled ~ .checkWrapper .label {
    ref: opacity-0.5;
  }
}
