@provide floating {
  .floating {
    ref: relative;
  }
  
  .floating > .input,
  .floating > .select {
    ref: pdY-4 pdX-3;
    height: calc(3.5rem + 2px);
  }
  
  .floating > label {
    ref: absolute top-0 left-0 hg-100 pdY-4 pdX-3 eventsNone bdSolid-1 bdTransparent;
    transorigin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  }
  
  @prefers reduce {
    .floating > label {
      transition: none;
    }
  }
  
  .floating > .input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .floating > .input::-moz-placeholder {
    color: transparent;
  }
  
  .floating > .input::placeholder {
    color: transparent;
  }
  
  .floating > .input:not(:-moz-placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }
  
  .floating > .input:focus, & > .input:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }
  
  .floating > .input:-webkit-autofill {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }
  
  .floating > .select {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }
  
  .floating > .input:not(:-moz-placeholder-shown) ~ label {
    ref: opacity-0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }
  
  .floating > .input:focus ~ label,
  .floating > .input:not(:placeholder-shown) ~ label,
  .floating > .select ~ label {
    ref: opacity-0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }
  
  .floating > .input:-webkit-autofill ~ label {
    ref: opacity-0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  }
}
