.list,
.border\:list,
.flush\:list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
    
  & li & {
    padding-left: 25px;
    list-style: none;
  }
}

.inline\:list-item {
  display: inline-block;
  
  &:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.list-link {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  
  &-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
  }
  
  &-action:hover, &-action:focus {
    z-index: 1;
    color: #495057;
    text-decoration: none;
    background-color: #f8f9fa;
  }
  
  &-action:active {
    color: #212529;
    background-color: #e9ecef;
  }
}

.border\:list,
.flush\:list {
  & .list-link {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  & .list-link:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  & .list-link:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
  }
  & .list-link.disabled, & .list-link:disabled {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
  }
  & .list-link.active {
    z-index: 2;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
  & .list-link + & .list-link {
    border-top-width: 0;
  }
  & .list-link + & .list-link.active {
    margin-top: -1px;
    border-top-width: 1px;
  }
}

.flush\:list {
  border-radius: 0;
  
  & .list-link {
    border-width: 0 0 1px;
  }
  & .list-link:last-child {
    border-bottom-width: 0;
  }
}

.sidebar .list-link {
  color: inherit;
}
