.nav,
.tab\:nav,
.pill\:nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: center;
  
  & .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
  & .disabled .nav-link {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
  }
}

.pill\:nav {
  & .nav-link {
    border-radius: 0.25rem;
  }
  & .nav-item.active .nav-link,
  & .nav-item.show > .nav-link {
    color: #fff;
    background-color: #0d6efd;
  }
}

.nav-fill > .nav-link,
.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justify > .nav-link,
.nav-justify .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.brand\:nav-item {
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  margin-right: auto;
  flex: 1 1 auto;
}

.mobile\:nav-item {
  display: block;
  flex: none;
}

.navbar .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  color: inherit;
}

@media (min-width: 640px) {
  .brand\:nav-item {
    margin-right: 1rem;
  }
  .mobile\:nav-item {
    display: none;
  }
}
