.nav,
.tab\:nav,
.pill\:nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  
  & .nav-item .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
  & .nav-item.disabled .nav-link {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
  }
}

.tab\:nav {
  border-bottom: 1px solid #dee2e6;
  
  & .nav-item .nav-link {
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  & .nav-item:hover .nav-link, & .nav-item:focus .nav-link {
    border-color: #e9ecef #e9ecef #dee2e6;
  }
  & .nav-item.disabled .nav-link {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
  }
  & .nav-item.active .nav-link,
  & .nav-item.show .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
  }
  & .picker-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.pill\:nav {
  & .nav-link {
    border-radius: 0.25rem;
  }
  & .nav-item.active .nav-link,
  & .nav-item.show > .nav-link {
    color: #fff;
    background-color: #0d6efd;
  }
}

.nav-fill > .nav-link,
.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justify > .nav-link,
.nav-justify .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}
