@layer components {
  .label {
    @apply mb-2;
  }

  .col-label {
    @apply pt-1.5 pb-1.5 mb-0 leading-normal;
    font-size: inherit;
  }

  .col-label-large {
    @apply pt-2 pb-2;
    font-size: 1.25rem;
  }

  .col-label-small {
    @apply pt-1 pb-1;
    font-size: 0.875rem;
  }

  .text {
    @apply mt-1;
    font-size: 0.875em;
    color: #6c757d;
  }
}
